<div class="{{form.showErrors && 'show-errors'}}">
<form name="form" novalidate>

<div class="four columns mission-goals">
	<h1 class="punched-in-h1">Mission Goals</h1> <!-- TODO Punched-in? -->

	<article class="data-goals">
		<div>
			<span>
				<h2>
					<span>Mission/Goal for This Month</span>
					<a class="button right" data-ng-click="submit()">
						<span data-ng-show="!isEditable">Edit</span>
						<span data-ng-show="isEditable">Done</span>
					</a>
				</h2>
			</span>

			<table>
				<tbody>
					<tr>
						<td>
							<span>Mission goal contracts this month</span>
						</td>
						<td>
							<var>{{goals.monthly.contracts}}</var>
						</td>
					</tr>
					<tr>
						<td>
							<span>Number of contacts</span>
						</td>
						<td>
							<var>{{user.progress.contacts}}</var>
						</td>
					</tr>
					<tr>
						<td>
							<span>Makeup contracts from last month</span>
						</td>
						<td>
							<var>{{user.progress.makeups}}</var>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</article>

</div>

<article class="four columns mission-goals">
	<div class="data-goals-hatched">
		<span>
			<h2>
				<span>Weekly Goals</span>
				<a class="button right" data-ng-click="submit()">
					<span data-ng-show="!isEditable">Edit</span>
					<span data-ng-show="isEditable">Done</span>
				</a>
			</h2>
		</span>
		<table>
			<tbody>
				<tr class="data-odd-zebra">
					<td>
						<span>Contacts</span>
					</td>
					<td>
						<var data-ng-show="!isEditable">{{goals.weekly.contacts}}</var>
						<input data-ng-show="isEditable" data-ng-model="goals.weekly.contacts" required type="number">
					</td>
				</tr>
				<tr>
					<td>
						<span>Scheduled Appointments</span>
					</td>
					<td>
						<var data-ng-show="!isEditable">{{goals.weekly.scheduled}}</var>
						<input data-ng-show="isEditable" data-ng-model="goals.weekly.scheduled" required type="number">
					</td>
				</tr>
				<tr class="data-odd-zebra">
					<td>
						<span>Conducted Appointments</span>
					</td>
					<td>
						<var data-ng-show="!isEditable">{{goals.weekly.conducted}}</var>
						<input data-ng-show="isEditable" data-ng-model="goals.weekly.conducted" required type="number">
					</td>
				</tr>
				<tr>
					<td>
						<span>Contracts</span>
					</td>
					<td>	
						<var data-ng-show="!isEditable">{{goals.weekly.contracts}}</var>
						<input data-ng-show="isEditable" data-ng-model="goals.weekly.contracts" required type="number">
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</article>

<article class="four columns">
	<div class="data-goals-hatched">
		<span>
			<h2>
				<span>Monthly Goals</span>
				<a class="button right" data-ng-click="submit()">
					<span data-ng-show="!isEditable">Edit</span>
					<span data-ng-show="isEditable">Done</span>
				</a>
			</h2>
		</span>
		<table>
			<tbody>
				<tr class="data-odd-zebra">
					<td>
						<span>Contacts</span>
					</td>
					<td>
						<var data-ng-show="!isEditable">{{goals.monthly.contacts}}</var>
						<input data-ng-show="isEditable" data-ng-model="goals.monthly.contacts" required type="number">
					</td>
				</tr>
				<tr>
					<td>
						<span>Scheduled Appointments</span>
					</td>
					<td>
						<var data-ng-show="!isEditable">{{goals.monthly.scheduled}}</var>
						<input data-ng-show="isEditable" data-ng-model="goals.monthly.scheduled" required type="number">
					</td>
				</tr>
				<tr class="data-odd-zebra">
					<td>
						<span>Conducted Appointments</span>
					</td>
					<td>
						<var data-ng-show="!isEditable">{{goals.monthly.conducted}}</var>
						<input data-ng-show="isEditable" data-ng-model="goals.monthly.conducted" required type="number">
					</td>
				</tr>
				<tr>
					<td>
						<span>Contracts</span>
					</td>
					<td>	
						<var data-ng-show="!isEditable">{{goals.monthly.contracts}}</var>
						<input data-ng-show="isEditable" data-ng-model="goals.monthly.contracts" required type="number">
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</article>

<div class="twelve columns">
	<div class="send-to-ncoic right">
		<a class="button" data-ng-click="sendToNCOIC()">Send to NCOIC</a>
	</div>
</div>

<div class="row calendar">
	<h1>
		<a class="prev" data-ng-click="prevMonth()"><i>&#x2190;</i></a>
		{{currentMonth | moment: 'MMMM YYYY'}}
		<a class="next" data-ng-click="nextMonth()"><i>&#x2192;</i></a>
		<label class="picker">
			<input data-ng-model="currentMonth" data-ui-jq="datepicker" data-ui-options="{changeMonth: true, changeYear: true, dateFormat: 'mm/dd/yy', minDate: 1 }" data-ng-show="false" data-ng-change="setDate(currentMonth)" type="text">
			<a data-io-date-trigger><i class="calendar"></i></a>
		</label>
	</h1>
	<div class="calendar__day--prev-month" data-ng-repeat="day in daysOffset">{{day}}</div>
	<div class="calendar__day" data-ng-class="day.unavailable && 'unavailable'" data-ng-repeat="day in daysInMonth">
		{{day.display}}
		<div class="description" data-ui-if="{{day.unavailable}}">Unavailable</div>
		<a data-ng-click="test(day.date)">
			
		</a>
	</div>
	<div class="calendar__day--next-month" data-ng-repeat="day in endOffset">{{day}}</div>
</div>

</form>
</div>