<div class="alert-box success" data-ng-show="forgotPasswordForm.showSuccess">Thank you. Please check your inbox for instructions.</div>

<div data-ng-class="forgotPasswordForm.showErrors && 'show-errors'">
	<form data-ng-submit="submit()" name="forgotPasswordForm" novalidate>
		<div class="row">
			<h1>Forgot Password</h1>
			<p>Please enter your email address for your login credentials.</p>
		</div>
		<div>
			<div class="row">
				<input class="five columns" data-ng-model="email" name="email" placeholder="Email Address" required type="email">
				<div class="field-info horiz seven columns">
					<mark class="icon-left" data-ng-show="forgotPasswordForm.email.$invalid">Enter a valid email address.</mark>
				</div>
			</div>
			<div class="five columns end" data-ng-class="loading-{{loading|onOff}}">
				<a class="button right" data-ng-click="submit()">Submit</a>
			</div>
		</div>
	</form>
</div>