<div class="row">

	<div class="user-login twelve columns" data-ng-class="loginForm.showErrors && 'show-errors'">
		<div class="alert-box alert" data-io-visible="loginForm.showInvalidInfo">Incorrect email or password. Please try again.</div>
		<form name="loginForm" data-ng-submit="doLogin()" novalidate>
			<div class="four columns">
				<h1>User Login</h1>
				<p>If you have already created an account,<br> login here to access your account.</p>
			</div>
			<div class="eight columns">
				<div class="row">
					<div class="six columns">
						<input data-ng-model="login.email" name="email" placeholder="Email Address" required type="email">
					</div>
					<div class="six columns field-info horiz">
						<mark class="icon-left" data-ng-show="loginForm.email.$invalid">Valid e-mail address required</mark>
					</div>
				</div>
				<div class="row">
					<div class="six columns">
						<input data-ng-model="login.password" data-ui-keyup="{'enter': 'doLogin()'}" name="password" placeholder="Password" required type="password">
					</div>
					<div class="six columns field-info horiz">
						<mark class="icon-left" data-ng-show="loginForm.password.$invalid">Password required</mark>
						<!--<span class="field-valid" data-ui-if="loginForm.password.$invalid">Password OK!</span>-->
					</div>
				</div>
				<div class="row">
					<div class="six columns">
						<a class="small" href="/#forgot-password">Forgot Password?</a>
						<a class="large-button button right" data-ng-click="doLogin()"><span>Login</span></a>
					</div>
					<div class="six columns">
						<span class="left" style="line-height:34px" data-ng-show="loginForm.loading" data-io-spinner="left">
							<span>Loading...</span>
						</span>
					</div>
				</div>
			</div>
		</form>
	</div>

	<div class="four columns push-one">
		<form name="cacLoginForm" novalidate>
			<div class="alert-box alert" data-io-visible="cacLoginForm.showInvalidInfo">Log in above before registering a CAC.</div>
			<h1><i>&#x25AD;</i> CAC Login</h1>
			<p>Login if you have already created an account associated with your CAC card.</p>
			<div>
				<a class="button" data-ng-click="cacLogin()">Login</a>
				<span data-ng-show="cacLoginForm.loading" data-io-spinner="right">
					<span>Loading...</span>
				</span>
			</div>
			<!-- <div data-ng-show="!cacLoginForm.loading" data-io-spinner></div> -->
		</form>
	</div>

	<div class="seven columns" data-ng-class="registerForm.showErrors && 'show-errors'">
		<form name="registerForm" data-ng-submit="doRegister()" novalidate>
			<div class="alert-box alert" data-io-visible="registerForm.showInvalidInfo">Your information doesn't match any existing FAZR/PER record.</div>
			<h1>RRNCO &amp; NCOIC Registration</h1>
			<p>If you are an Enlistment RRNCO or NCOIC in the Army National Guard Recruiting and Retention Force register here.</p>
			<div class="row">
				<div class="six columns">
					<div class="field-info">
						<mark data-ng-show="registerForm.firstName.$invalid">First name required</mark>
					</div>
					<input data-ng-model="register.firstName" type="text" placeholder="First Name" name="firstName" required>
				</div>
				<div class="six columns">
					<div class="field-info">
						<mark data-ui-if="registerForm.lastName.$invalid">Last name required</mark>
					</div>
					<input data-ng-model="register.lastName" type="text" placeholder="Last Name" name="lastName" required>
				</div>
			</div>
			<div class="row">
				<div class="three columns">
					<div class="field-info">
						<mark data-ui-if="registerForm.ssn.$invalid">4-Digit SSN required</mark>
					</div>
					<input data-ng-model="register.ssn" type="text" placeholder="SSN Last 4" data-ng-minlength="4" data-ng-maxlength="4" name="ssn" data-ng-pattern="/[0-9]/" required>
				</div>
				<div class="three columns">
					<div class="field-info">
						<mark data-ui-if="registerForm.rsid.$invalid">RSID required</mark>
					</div>
					<input data-ng-model="register.rsid" type="text" placeholder="RSID" name="rsid" required>
				</div>
				<div class="six columns">
					<div class="field-info">
						<mark data-ui-if="registerForm.ako.$invalid">AKO Username required</mark>
					</div>
					<input data-ng-model="register.ako" type="text" placeholder="AKO Username" name="ako" required>
				</div>
			</div>
			<div class="right">
				<span data-ng-show="registerForm.loading" data-io-spinner="left">
					<span>Loading</span>
				</span>
				<a class="button" data-ng-click="doRegister()"><span>Register</span></a>
			</div>
		</form>
	</div>


</div>