<div data-ng-class="addSavedSearchForm.showErrors && 'show-errors'" data-ng-controller="AddSavedSearchCtrl">
	<form name="addSavedSearchForm" novalidate>

		<h1>Add Saved Search</h1>

		<label>Name Your Search</label>
		<input data-ng-model="search.name" required type="text">
		{{search}}

		<ul class="actions">
			<li><a class="button" data-ng-click="close()">Cancel</a></li>
			<li><a class="button" data-ng-click="submit()">Save</a></li>
		</ul>
		
	</form>
</div>