<div class="row">
	<div class="six columns">
		<article class="leads-marketing-summary">
			<div>
				<h1>Leads Marketing Summary</h1>
				<table>
					<tbody>
						<tr class="header-large">
							<th>
								<span>Qualified</span>
								<var>{{summary.qualified}}</var>
							</th>
							<th>
								<span>Unsorted</span>
								<var>{{summary.unscreened}}</var>
							</th>
							<th>
								<span>1-800-Go-Guard</span>
								<var>{{summary.goGuard}}</var>
							</th>
							<th>
								<span>Recruiter<br>Generated</span>
								<var>{{summary.generated}}</var>
							</th>
						</tr>
					</tbody>
				</table>
			</div>
		</article>

		<article class="mission-activity-summary">
			<div>
				<h1>Mission Activity Summary</h1>
				<table>
					<thead>
						<tr>
							<td></td>
							<th colspan="2">Monthly</th>
							<th colspan="2">Weekly</th>
						</tr>
						<tr>
							<td></td>
							<td>Goal</td>
							<td>Actual</td>
							<td>Goal</td>
							<td>Actual</td>
						</tr>
					</thead>
					<tbody>
						<tr class="data-odd-zebra">
							<th>Contacts Made</th>
							<td>{{goals.monthly.contacts}}</td>
							<td>{{actual.monthly.contacts}}</td>
							<td>{{goals.weekly.contacts}}</td>
							<td>{{actual.weekly.contacts}}</td>
						</tr>
						<tr>
							<th>Scheduled Appointments</th>
							<td>{{goals.monthly.scheduled}}</td>
							<td>{{actual.monthly.scheduled}}</td>
							<td>{{goals.weekly.scheduled}}</td>
							<td>{{actual.weekly.scheduled}}</td>
						</tr>
						<tr class="data-odd-zebra">
							<th>Conducted Appointments</th>
							<td>{{goals.monthly.conducted}}</td>
							<td>{{actual.monthly.conducted}}</td>
							<td>{{goals.weekly.conducted}}</td>
							<td>{{actual.weekly.conducted}}</td>
						</tr>
						<tr>
							<th>Contracts</th>
							<td>{{goals.monthly.contracts}}</td>
							<td>{{actual.monthly.contracts}}</td>
							<td>{{goals.weekly.contracts}}</td>
							<td>{{actual.weekly.contracts}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</article>

	</div>

	<section class="six columns">
		<h1>{{date}}</h1><!-- TODO: Recruiters vs RRNCOs show partial -->
		<div class="events">
			<h3>Today's Appointments/Events</h3>
			<ul class="data-row" data-ng-repeat="todayItem in eventsAndAppointments | filter: filterTodayItems | orderBy: orderByTime">
				<li class="four columns">{{todayItem.title}}</li>
				<li class="three columns">
					<var data-ui-if="isAppointment(todayItem)">{{todayItem.type}}</var>
					<var data-ui-if="isEvent(todayItem)">{{todayItem.notes}}</var>
				</li>
				<li class="two columns">{{todayItem.time | moment: 'HH:mm' }}</li>
				<li class="two columns"><a class="button right" data-ng-click="showDetails(todayItem)">Details</a></li>
			</ul> 
			<h3 class="divided-line-h">Upcoming Appointments/Events</h3>
			<div class="row">
				<label class="eight columns">
					<input data-ng-model="dateFilter" data-ui-jq="datepicker" data-ui-options="{changeMonth: true, changeYear: true, dateFormat: 'mm/dd/yy', minDate: 1 }" data-ng-show="false" type="text">
					<a data-io-date-trigger><i class="calendar"></i></a>
					<var>Events starting on or after {{dateFilter}}</var>
				</label>
				<div class="four columns">
					<a class="button right" data-ng-click="addEvent()">Add Event</a>
				</div>
			</div>
			
			<ul class="data-row" data-ng-repeat="upcomingItem in eventsAndAppointments | filter: filterUpcomingItems | orderBy: ['time', orderByTime]">
				<li class="four columns">{{upcomingItem.time | moment:'dddd MMM DD' }}</li>
				<li class="three columns">{{upcomingItem.title}}</li>
				<li class="two columns">{{upcomingItem.time | moment: 'HH:mm' }}</li>
				<li class="two columns"><a class="button right" data-ng-click="showDetails(upcomingItem)">Details</a></li>
			</ul>
		</div>
	</section>
</div>