[data-ng\:cloak], [data-ng-cloak], [ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
[data-io-spinner], [io-spinner] {
	span {
		visibility: hidden;
	}
}
.spinner {
	// left: -23px !important;
	// top: 15px !important;
}
// loading
.loading-on {
	background: blue;
}
.bookmark {
	cursor: pointer;
	&.on {
		color: $blue;
	}
}
.app-loader.loader-on {
	background: $white;
}
.app-loader.page-loader {
	background: transparent;
}
.loader-on {
	// display: none; // IE POINTER EVENTS TODO
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	opacity: 1;
	// -webkit-transition: opacity .25s;
	// pointer-events: none;
}
.loader-off {
	opacity: 0;
	display: none;
}
.hover-visible {
	visibility: hidden;
}
.hover-visible-parent {
	&:hover {
		.hover-visible {
			visibility: visible;
		}
	}
}
.limit-results {
	@extend %horizontal-list;
	@extend %tiny;
	text-transform: uppercase;
	li {
		padding-left: 3px;
		padding-right: 3px;
		a {
			border-left: 1px solid $dark;
			padding-left: 6px;
			line-height: 2.333;
		}
	}
}

.pagination {
	@extend %unstyled-list;
    font-family: $headerFontFamily;
    text-align: right;
    li {
        display: inline-block;
        margin: 0 1px;
        &.active {
        	a {
	            border-color: $light;
	            cursor: default;
	            color: $light;
        	}
        }
        a {
            @extend .border;
            border: 2px solid $dark;
            color: $dark;
            display: inline-block;
            height: 21px;
            font-size: 17px;
            letter-spacing: 0;
            line-height: 20px;
            padding: 0;
            width: 21px;
            text-align: center;
            i {
                font-family: $iconFontFamily;
                font-size: 12px;
                line-height: 1;
            }
        }
    }
}

.tag-csv {
	&:after {
		content: ', '
	}
	&.last {
		&:after {
			content: none;
		}
	}
}

.zebra {
	.toolbox & {
		background-color: $extra-dark;
		background-color: rgba($black, .8);
	}
}

// BUTTONS

.actions {
	@extend .unstyled-list;
	&.list {
		@extend %horizontal-list;
	}
	form > & {
		clear: both;
	}
}
.button {
	@extend %action-button;
}
.inset {
	@extend %border;
	color: inherit;
	padding: unit(.5) unit(.75);
	&:hover {
		@extend %inset-on;
	}
}
%inset-on {
	background-color: $light-blue;
	color: $white;
}

i {
	&.calendar {
		font-size: 1.6em;
		&:before {
			content: $icon-calendar-detail;
		}
	}
	&.arrow-down {
		&:before {
			content: $icon-arrow-up;
		}
	}
	&.arrow-up {
		&:before {
			content: $icon-arrow-down;
		}
	}
}

.punched-in-h1 {
	@include margin-horizontal(10px);
	margin-top: 0px;
}

//
// call or chat with the guard symbol
.guard-contact {
    @extend %horizontal-list;
    display: table;

    li {
		padding-left: 15px;
		display: table-cell;
		vertical-align: middle;

		a {
			color: $dark;
			font-size: $h3;
			font-weight: 600;
		}

		.button {
			@extend %larger-still-button;

			&:after {
				@extend %buttons-icons;
				@extend %right-arrow-button-icon;
				margin-left: 5px;
			}
		}
	}
}
.note {
	color: $extra-dark;
	font-weight: bold;
}


// SUCCESS/FAILURE MODAL
.confirmation {
	margin: 0 auto;

	div {
		width: 100%;

		span {
			@include padding-vertical(20px);
			border-bottom: 2px solid $medium;
			display: block;
			margin: 0 auto;
			text-align: center;
			width: 250px;
		}

		.checkmark {
			@include padding-vertical(20px);
			color: rgb(39, 156, 53);
			font-size: 66px;
		}

		.enclosed-x {
			@include padding-vertical(20px);
			color: rgb(206, 27, 34);
			font-size: 66px;
		}

		h1 {
			@include padding-vertical(15px);
			color: $extra-light;
			font-size: ms(16);
			text-align: center;
		}

		p {
			color: $light;
			text-align: center;
		}

		ul {
			color: $light;
			text-align: center;
		}

	}

}
