.save-search {
	@extend %action-link-with-icon-left;
	&:before {
		@include icon($icon-paper);
	}
}

.search-meta {
	@include clearfix;
	padding: unit(2);
	&.last {
		border-top: 1px solid $extra-light;
	}
}

.advanced-search, .manage-searches {
	@include margin-horizontal(10px);
	@include margin-vertical(20px);
	padding-top: unit(2.5);

	li {
		@extend .data-row;
		height: 45px;
		&.double {
			height: 90px;
		}

		span {
			margin-top: 7px;
		}

		select {
			height: 31px;
			margin-top: 7px;
		}

		.two-liner {
			margin-top: 0;
		}

		a {
			color: $dark;
			margin-top: 0;
		}

		.button {
			@extend %small-button;

			a {
				margin-top: 0;
			}
		}
	}
}
.manage-searches {
	li {
		height: auto;
		strong {
			width: 80%;
		}
		.delete, .edit {
			@include inline-block;
			padding:5px;
		}
		input[type="text"]{
			margin-top: 5px;
			@include inline-block;
			width: auto;
		}	
	}
}
.list-on {
	.toggle-list {
		@extend %inset-on;
	}
}
.grid-on {
	.toggle-grid {
		@extend %inset-on;
	}
}
.toggle-list {
	left: 14px;
	position: relative;
}

.view-list {
	@include margin-vertical(30px);
	[data-ng-include] {
		@extend %hatched-background;
		@extend %hatched-header-and-footer;
		border-left: 1px solid $extra-light;
		border-right: 1px solid $extra-light;
		.data-rows {
			div {
				@extend .data-row;
			}
			
			ul {
				width: (6/30)*100%;
				&:first-child {
					padding-left: unit(5);
					width: 26%;

					li {

						var {
							font-weight: normal;
						}
					}
				}
				&.actions {
					float: right;
					padding-right: unit(2);
					width: (3/30)*100%; // remainder
				}

				li {

					span {
						font-weight: normal;
					}

					var {
						font-weight: 800;
					}
				}
			}
			h2 {
				cursor: pointer; // indicate that clicking will toggle advanced search
				position: relative;
				&:before {
					@include icon($icon-arrow-right);
					font-size: .6667em;
					line-height: 1.6667em;
					left: unit(-3);
					position: absolute;
				}
				&.details-on {
					&:before {
						content: $icon-arrow-down;
					}
				}
			}

			div {

				.wide {
					margin-left: unit(5);
					margin-right: unit(1.8);
					width: 39%;

					> ul {
						@include padding-horizontal(15px);
						width: 49%;

						li {
							margin-right: unit(3);

							var {
								font-weight: 800;
							}

						}
					}
				}
			}
		}
	}
}

//
// SEARCH CLEANUP STYLING
// TODO: way too global
.row {

	select {
		height: 31px;
		margin-top: 7px;
	}

	a {
		// margin-top: 8px;
	}

}

.actions {

	a {
		margin-top: 0;
	}

}

.search-options {
	position: relative;

	a {
		position: absolute;
		text-align: center;
		top: 0px;

		&:after {
			@include icon($icon-arrow-block-right);
			margin-left: unit(.5);
		}
	}
}

.filters {
	margin-top: unit(2);
}