//
// DASHBOARD HOMEPAGE -- WE REALLY NEED A DANCING WINDUP ELVIS FIGURINE ON OUR DASHBOARD -- EASTER EGG?
//

.leads-marketing-summary {
	@extend %data-border;
	@include padding-vertical;
	@include padding-horizontal(25px);	

	h1 {
		@extend %data-header;
		@include padding-vertical;
		border-right: 1px solid rgb(216, 216, 216);
		margin-bottom: 0;
		width: 265px;
	}

	table {
		padding: 0 0 20px 0;

		tbody {

			tr {

				th {
					border-right: 1px solid rgb(216, 216, 216);
					display: inline-block;
					padding: 18px 0 0 0;
					vertical-align: bottom;
					width: 120px;

					span {
						@extend %data-left-column;
						float: none; // ?
						text-align: center;
					}

					var {
						@extend %data-table-small;
						display: block;
					}

					&:first-child {
						width: 65px;
					}

					&:nth-child(2) {
						width: 80px;
					}

					&:nth-child(3) {
						width: 120px;
					}

					&:last-child {
						border: none;
						padding: 0 0 0 40px;
						width: 110px;
					}
				}
			}

		}
	}
}

.mission-activity-summary {
	@extend %data-border;
	margin-top: 20px;
	@include padding-vertical;
	@include padding-horizontal(25px);

	h1 {
		@extend %data-header;
		@include padding-vertical;
	}

	table {
		background: url('/images/site/data-goals-bg.png') 67% 57px no-repeat;

		thead {

			th {
				@extend %data-table-header-large;
			}

			td {
				@extend %data-table-header-small;
			}

			tr {
				height: 20px;
			}

		}

		tbody {

			tr {

				th {
					@extend %data-left-column;
					@extend %padding;
					float: none;
					text-align: left;
				}

				td {
					@extend %data-table-small;
					@include padding-vertical(12px);
					@include padding-horizontal(12px);
				}
			}
		}
	}
}

.events {
	@extend %data-border;
	@extend %hatched-background;
	@extend %padding;

	.button {
		@extend %small-button;
		margin-top: 0;
	}

	h3 {
		@include padding-horizontal;
	}

	label {
		padding-bottom: 15px;

			a {
				color: $dark;

				&:hover {
					color: $extra-dark;
				}
			}
	}

	ul {
		@include columns(1);

		li {
			@include columns(1);
			@extend %data-column;
		}

	}

	.row {
		@include padding-horizontal;

		.button {
			@extend %larger-button;

			&:before {
				@extend %plus-button-icon;
				margin-right: 5px;
			}
		}
	}
}