// DATA DISPLAY

%data {
	label {
		> span {
			font-weight: bold;
			&:after {
				content: ':';
			}
		}
	}
}
%data-inline {
	@extend %data;
}
%data-block {
	@extend %data;
	span,
	var {
		display: block;
	}
}
.data-row, .data-header {
	@include clearfix;
	@extend %data-inline;
	@extend .unstyled-list;
	> li {
		@include column(3);
		display: inline-block;
		text-align: center;
		&:first-child {
			text-align: left;
		}
		&.last {
			text-align: right;
		}
	}
}
.data-dates {
	@extend %data-inline;
}
.data-notes {
	@extend %data-block;
	var {
		font-size: $extra-small;
	}
}
.data-highlights {
    @extend .unstyled-list;
    @extend %data;
    li {
    	@include padding-vertical;
    }
    span,
    var {
        display: block;
    }
    span {
    	font-size: $h4;
    }
    var {
    	@extend %bodyFontHeader;
    	font-size: $large;
    }
}
.data-list {
	@extend %data;
	@extend .unstyled-list;
}
.data-rows {
	@extend %data;
	@extend %background-hover;
	@include altClearfix;
	border-top: 1px solid $extra-light;
	h2 {
		@include h4;
		@extend %bodyFontHeader;
		margin: 0;
	}
	ul {
		@extend %data;
		@extend .unstyled-list;
		@include padding-vertical(unit(2));
		@include column(3);
		&.actions {
			a {
				display: block;
				text-align: center;
			}
		}
	}
	li {
		@include padding-vertical(3px);
		var {
			a {
				@extend %underline;
				color: inherit;
				font-weight: normal;
			}
		}
	}
	.wide {
		@include column(6);
	}
}
.data-grid {
	@extend %data;
	@include column(4);
	padding: 0;
	div {
		@extend %hatched-background;
		border: 1px solid $extra-light;
		margin: unit(2);
		padding: unit(2);
	}
	h2 {
		@include h1;
		@extend %bodyFontHeader;
	}
	ul {
		@extend .unstyled-list;
		@include padding-vertical(unit(2));
		border-top: 1px solid $light;
		&.data-highlights {
			@include padding-vertical(unit());
		}
		&.actions {
			@extend %horizontal-list;
			border-top: 1px solid $light;
			padding-top: unit(2.5);

			.button {
				@extend %small-button;
			}
		}
	}
}