
//
// LOGIN PAGE - ENTER THE KINGDOM OF D00000M AND DON'T DRINK THE WATAAAA
//

.page-login {

}

.user-login {
	@extend %hatched-footer;
	@extend %hatched-background;
	padding-top: unit(2);
	position: relative;
	top: unit(-4);
	// todo: @extend
	margin-left: -600px;
	padding-left: 600px;
	padding-right: 600px;
	width: 2000px !important;
	h1 {
		color: $dark;
		font-size: ms(16);
		text-transform: uppercase;
		margin-top: 0;
		// TODO: @extend
	}
}



.cac-login {
	// @extend %padding;
	// @include margin-vertical(70px);
	// display: table;

	> div {
		// display: table;
		// vertical-align: middle;

		> h1 {
			color: $dark;
			font-size: ms(16);
			text-transform: uppercase;
			// TODO: @extend
		}

		> span {
		
			p {
				@include padding-vertical(20px);
				font-size: 13px;
				line-height: 20px;
				padding: 0;
				// width: unit(24);
			}

			.button {
				@extend %larger-still-button;
				@include margin-vertical(12px);
				color: $dark;
			}

		}

	}

	.portal {
		border-left: 1px solid rgb(216, 216, 216);
		display: inline-block;
		padding-left: 100px;

		> h1 {
			font-size: ms(13);

			&:before {
				display: none;			
			}

		}

		p {
			font-size: 13px;
			line-height: 20px;
			padding: 0;
			// width: unit(42);
		}

		> span {
			display: table-row;

			input {
				@extend %border;
				float: left;
				height: 35px;
			}


			#first_name {
				margin-right: 10px;
				// width: 220px;
			}

			#ssn {
				margin-right: 10px;
				// width: 110px;
			}

			#rsid {
				// width: 110px;
			}

			#last_name {
				margin-right: 10px;
				// width: 220px;
			}

			#ako {
				// width: 230px;
			}


		}

		.button {
			@extend %larger-still-button;
			@include margin-vertical(12px);
			color: $dark;
		}

	}

}
