// 
// MISSION GOALS PAGE - WHO LIKES BURRITOS??
//

// avoid conflict with i.calendar
div.calendar {
	border-left: 1px solid $light;
	border-top: 1px solid $light;
	clear: both;
	h1 {
		margin: 0;
		padding: 20px;
		text-align: center;
		text-transform: uppercase;
		.prev,
		.next,
		.picker {
			font-size: .667em;
			line-height: 1/.667+0;
		}
		.picker {
			line-height: 1;
			margin-right: 10px;
		}
		.prev {
			float: left;
		}
		.picker,
		.next {
			float: right;
		}
	}
	h1,
	.calendar__day,
	.calendar__day--prev-month,
	.calendar__day--next-month {
		border-bottom: 1px solid $light;
		border-right: 1px solid $light;
	}
}

.calendar__day,
.calendar__day--prev-month,
.calendar__day--next-month {
	color: $light;
	font-size: 12px;
	float: left;
	height: 100px;
	padding: 7px;
	position: relative;
	text-align: right;
	width: (1/7)*100+0%;
}

.calendar__day {
	&:hover {
		background-color: $extra-dark;
		a {
			display: block;
		}
	}
	&.unavailable {
		// background: red;
		a {
			&:after {
				content: 'Edit Availability';
			}
		}
	}
	a {
		margin-top: 100%;
		color: $light;
		display: none;
		height: 100%;
		left: 0;
		position: absolute;
		text-align: center;
		width: 100%;
		top: -50%;
		&:before {
			@include icon($icon-pencil);
			display: block;
			font-size: 1.5em;
			margin-bottom: 5px;
			margin-top: -30px;
		}
		&:after {
			content: 'Mark as Unavailable';
			display: block;
			width: 50%;
			margin-left: 25%;
			margin-right: 25%;
		}
	}
}

.calendar__day--prev-month,
.calendar__day--next-month {
	background-color: #f9f9fa;
}

.mission-tools[role="main"] {
	article { // extend?
		@include column(4);
		&.first {
			padding-left: 0;
		}
		&.last {
			padding-right: 0;
		}
		> div { // wrapper
			// @extend %table; // these divs should get a more descriptive extend class?
		}
	}
	h2 {
		@include margin-vertical(0);
	}
	%mission {
		th {
			width: 100%;
		}
		header {
			h1 {
				width: 50%;
			}
		}
	}
	%weekly-goals,
	%monthly-goals {
		// @extend %dashboard-table;
	}
}

.data-goals {
	@extend %data-border;

	div {
		@extend %goals-padding;
		
		.button { 
			@extend %small-button;
		}

		span {
			display: inline-block;
			width: 100%;
		
			h2 {
				@extend %data-header;

				> span {
					line-height: 14px;
					width: 120px;
				}

			}

		}

		table {

			tbody {

				td {
					
					@include padding-vertical(5px);

					span {
						@extend %data-left-column;
					}	

					var {
						@extend %data-var-large;
					}
				}
			}
		}
	}
}

.send-to-ncoic {
	@include margin-vertical(20px);
}

// this lil guy bumps the content down so it isn't being interlaced with the toolbox icon -- per the PSD.  I don't think
// the other pages have this worry so I'll roll with this for now -- may be updated later. -TJT
.mission-goals {
	margin-top: 50px;
}

.data-goals-hatched {
	@extend .data-goals;
	@extend %hatched-background;
	@include padding-vertical(15px);
	@include padding-horizontal(15px);

	.button {
		@extend %small-button;
	}

	h2 {
		@extend %data-header;
		margin-bottom: 24px;
	}

	table {
		background: url('/images/site/data-goals-bg.png') center 10px no-repeat;
		margin-bottom: 9px;

		tbody {

			td {
				@include padding-horizontal(10px);
				@include padding-vertical(8px);

				span {
					@extend %data-left-column;
				}

				var {
					@extend %data-var-small;
					@include margin-horizontal(20px);
				}
			}
		}
	}
}