// 
// PROFILE EDIT - CHECK OUT MY SWEET PROFILE -- CHAT ME UP
//
.profile-url {
	padding: 0 0 15px 0;

	span {
		font-weight: 800;
	}

	var {

		a {
			color: $dark;
			text-decoration: underline;
		}
	}
}
.profile-preview {
	@include padding-vertical(unit(2));
	background: $white;
	border: 2px solid $extra-light;
	position: relative;

	//remove this later
	min-height: 1000px;

	img {
		border: 10px solid $extra-light;
	}

	.photo {
		@include padding-vertical(15px);
		@include padding-horizontal(15px);

		ul {
			@include padding-vertical(10px);
			margin-bottom: 10px;

			li {
				@include padding-vertical(3px);
				font-family: $headerFontFamily;
				font-size: $h4;

				var {
					color: $dark;
					font-weight: 600;
				}
			}
		}

		> span {
			@include padding-vertical(10px);
			color: $dark;
			font-family: $headerFontFamily;
			font-size: $h2;

			i {
				font-size: $h1;
				margin-right: 5px;
				position: relative;
				top: -2px;
				vertical-align: middle;
			}
		}
	}

	.details {

		h1 {
			font-family: $headerFontFamily;
			font-size: $h1;
			padding: 0;
		}

		h2 {

			color: $medium;
			font-size: $h2;

			.stateface {
				color: $medium;
				font-size: 36px;
				margin-right: 10px;
				vertical-align: middle;
			}

		}

		> p {
			color: $extra-dark;
			font-size: $base-size;
			font-family: Arial;
			padding: 0 10px 10px 0;
		}

	}

	.refer {
		@include padding-horizontal(35px);
		@include padding-vertical(30px);
		background: url('/images/site/edit-profile-content-bg.png') 15px center no-repeat;
		display: inline-block;

		.apply {
			background: url('/images/site/apply-now.png') left 1px no-repeat;
			color: $red;
			font-family: $headerFontFamily;
			font-size: $h2;
			padding: 9px 15px 4px 35px;
			vertical-align: middle;
		}

		span {
			color: $extra-light;
			font-family: $headerFontFamily;
			font-size: $h2;
			font-weight: 800;
			vertical-align: middle;
		}
	}

	.upcoming {
		@include padding-horizontal(15px);
		@include margin-vertical(35px);
	
		> p {
			color: $medium;
			font-size: $base-size;
		}

		ul {
			@extend %upcoming-dates-list;

			.drawer {
				@extend %drawer;
			}

			.date {
				@extend %date;
			}

			.item-close {
				@extend %item-close;
			}
		}
	}

	&:before {
		content: url('/images/site/edit-profile-bg-left.png');
		left: -39px;
		position: absolute;
		top: 0;
		width: 42px;
	}

	&:after {
		content: url('/images/site/edit-profile-bg-right.png');
		right: 41px;
		position: absolute;
		top: 80px;
		width: 42px;
	}

}

.profile-edit {

	h2 {
		display: inline-block;
		color: $light-blue;
		font-family: $headerFontFamily;
		font-size: $large;

		&:before {
			@include icon($icon-pencil);
			font-size: $h2;
			margin: 0 5px 0 0;
			position: relative;
			top: -2px;
		}

	}

	label {

		> span {
			@include padding-vertical(10px);
			display: block;
			font-family: $headerFontFamily;
			font-size: $h2;
		}

		.button {
			@extend %small-button;
			color: $light-blue;
			font-size: $extra-small;
			border-color: $light-blue;
		}

		> p {
			color: $light;
			padding: 10px 0 0 0;
		}

		> input {
			@extend %border;
		}

		textarea {
			@extend %border;
			height: 480px;
		}
	}

	.save {

		.button {
			@extend %save-button;
			font-size: $h4;
		}
	}
}