

//show that thang
body.show-toolbox {
	.toolbox-wrapper {
		display: block;
	}
	.modal-backdrop {
		display: none;
	}
	&:before {
		content: none;
	}
	section.modal.toolbox {
		display: block;
		min-height: 100%;
		position:relative;
		z-index:250;
	}
}

//set up our wrapper duhh
.toolbox-wrapper {
	background-color: $black; // IE8
	background-color: fade-out($black, 0.1);
	display: none;
	height: 100%;
	left:0;
	overflow-y: scroll;
	position:fixed;
	top:0;
	width: 100%;
	z-index: 200;
}

section.modal.toolbox {
	background: none;
	background-color: transparent;
	display:none;
	height: 100%;
	width:100%;
	
	.button {
		@extend %medium;
		@include transition(all 100ms);
	}
	.content {
		.close-modal {
			font-size: 22px;
			@extend %medium;
		}
		@include outerRow;
		@include clearfix;
		padding-bottom:80px;
		h1{
			clear:both;
			&:before {
				@include inline-block;
				content: url(/images/site/tools.png);
				margin-right: 10px;
			}		
		}
		.add-asset {
			form {
				@include clearfix;
				width:100%;
			}

			//this layout technique might seem weird,
			//but i want to keep the buttons/labels a fixed width and the 
			//input elements percentage based. this is what i came up with.
			//-nathan mosher

			$titleWidth: 50%;
			$urlWidth: 45%;
			$spanWidth: 5%; //the "or" between the two inputs
			
			form > span {
				color: $medium;
				display: block;
				float: left;
				font-weight: bold;
				padding: 7px 5px 0 5px;
				text-align: center;
				width: $spanWidth;
			}

			.add-title, .add-url {
				float: left;
				position: relative;
			}

			.add-title {
				$labelWidth : 75px;
				$buttonWidth : 120px;
				
				padding-left: $labelWidth + 10;	//make room for left side
				padding-right: $buttonWidth + 20; //make room for right side
				width: $titleWidth;

				label {
					left: 0;
					padding: 7px 5px 0 5px;
					position: absolute;
					top:0;
					width: $labelWidth;
					font-weight: bold;
				}

				.button {
					position: absolute;
					text-align: center;
					right: 0;
					top:0;
					width: $buttonWidth;	
				}
			}
			.add-url {
				$addButtonWidth : 75px;
				$submitButtonWidth : 75px;

				padding-left: $addButtonWidth + 20; //make room for left side
				padding-right: $submitButtonWidth + 20; //make room for right side
				width: $urlWidth;

				.button {
					position: absolute;
					text-align: center;
					&.submit {
						right: 0;
						top: 0;
						width: $submitButtonWidth;
					}
					&.add {
						left: 0;
						top: 0;
						width: $addButtonWidth;
					}
				}
			}
		}
		.search-assets {
			input {
				@include column(9);
			}
			.filter {
				@include column(3);
				padding-right: 0;
			}
			.button {
				float: right;
				clear: both;
			}
		}
		.data-header {
			clear: both;
			background-color: transparent;			
		}
		.data-row, .data-header {
			th {
				border-bottom:2px solid fade-out($extra-dark, 0.5);
			}
			td, th {
				padding: 10px;
				vertical-align: center;
			}
			span {
				&:after {
					content: '';
				}
			}
		}
		table {
			border-collapse:separate; 
			border-spacing: 0 5px;
		}
		.data-list {

			.data-row {
				&:first-child td {
					margin-top:20px;

				}
				@include border-radius(3px);
				&:hover {
					background-color: fade-out($extra-dark, 0.4);
				}
				td:first-child {
					@include border-left-radius(3px);
				}
				td:last-child {
					@include border-right-radius(3px);
				}
				a {
					color: $extra-light;
				}
				i {
					display: inline-block;
					margin-right: 5px;
					vertical-align: center
				}
				input[type="text"] {
					display: inline-block;
					width: auto;
					margin:0;
				}
			}
		}	
	}
}