// VALIDATION

%form-info-type {
	font-size: 12px;
	visibility: hidden;
}

.form-invalid {
	@extend %form-info;
	background-color: $pink;
	border-color: $red;
}

div.alert-box {
	// Foundation override
	margin-bottom: unit(2);
}

.show-errors {
	input.ng-invalid {
		background-color: $pink;
		border-color: $red;
	}
	.field-info,
	%form-info-type {
		visibility: visible;
	}
}
.field-info {
	visibility: hidden;
	line-height: 14px;
	height: 14px;
	&.horiz {
		line-height: 32px;
		height: 32px;
	}
}

mark {
	@extend %form-info-type;
	background: none;
	color: $red;
	&.icon-left {
		&:before {
			@include icon($icon-arrow-left);
			padding-right: 5px;
		}
	}
	&.field-valid {
		@extend %form-info-type;
		color: $green;
	}
}
