<div data-ng-class="addEventForm.showErrors && 'show-errors'" data-ng-controller="AddEventCtrl">
	<form name="addEventForm" class="addEventForm" novalidate>

		<h1>Add Event</h1>

		<label class="select-date left">
			<p>Select Date:</p>
			<input data-ng-model="event.time" data-ui-jq="datetimepicker" data-ui-options="{changeMonth: true, changeYear: true, dateFormat: 'mm/dd/yyyy', timeFormat: 'HH:mm', stepMinute: 5 }" data-ng-show="false" required type="text">
			<span>
				<a data-io-date-trigger><i class="calendar"></i></a>
				<var>{{event.time | moment: 'MM/DD/YYYY HH:SS' }}</var>
			</span>
		</label>

		<label class="notes right">
			<span>Notes</span>
			<textarea data-ng-model="event.notes" name="notes" placeholder="Add a note"></textarea>
		</label>

			<!-- TODO: Placeholder Foundation -->
		<label class="information">
			<input data-ng-model="event.title" placeholder="Name of Event" required type="text">
		</label>
		<label class="information">
			<input data-ng-model="event.location" placeholder="Location" required type="text">
		</label>

		<section class="public-private">
			<span>Choose one of the following:</span>
			<label>
				<input data-ng-model="event.private" data-ng-value="false" name="private" type="radio">
				<span>Public</span>
			</label>
			<label>
				<input data-ng-model="event.private" data-ng-value="true" name="private" type="radio">
				<span>Private</span>
			</label>
		</section>

		<ul class="actions">
			<li><a class="button" data-ng-click="close()">Cancel</a></li>
			<li><a class="button" data-ng-click="submit()">Save</a></li>
		</ul>
		
	</form>
</div>