<h1>Contacting Support</h1>

<h2>E-mail</h2>

<p>Contact us via email at <a href="mailto:PathToHonor@NationalGuard.com">PathToHonor@NationalGuard.com</a>.</p>

<p>If you have encountered a problem on the website, please provide as much information as possible in an email, including:</p>

<ul>
	<li>The address of the page you were on</li>
	<li>Any error messages that appeared</li>
	<li>A screenshot (<a href="http://www.take-a-screenshot.org" target="_blank">How?</a>)</li>
</ul>

<h2>Call or Chat</h2>

<p>Our Support Center Operators are available from 0800 to 2300 ET, Monday–Saturday.</p>

<p>Contact us via phone by calling 1-800-GO-GUARD (1-800-464-8273) and pressing option 2.</p>

<p>Or <a href="https://home-c7.incontact.com/inContact/ChatClient/ChatClient.aspx?poc=987defc2-6d1b-4d59-b030-e975665e51f4&bu=4593267">chat with a Support Center Operator online</a>.</p>
