<h1>{{manageType.name}} {{candidateType.name.singular}}</h1>

<div class="{{form.showErrors && 'show-errors'}}">
<form class="row" name="form" novalidate>
	<div class="six columns">

		 <fieldset>

			<p class="note">Required Fields</p>

			<div class="row">
			  <div class="four columns">
			    <label class="inline" for="first-name">First Name</label>
			  </div>
			  <div class="eight columns">
			    <input data-ng-model="candidate.firstName" id="first-name" name="firstName" placeholder="First Name" required type="text">
			  </div>
			</div>

			<div class="row">
			  <div class="four columns">
			    <label class="inline" for="last-name">Last Name</label>
			  </div>
			  <div class="eight columns">
			    <input data-ng-model="candidate.lastName" id="last-name" name="lastName" placeholder="Last Name" required type="text">
			  </div>
			</div>

			<p class="note">Only one of the following is required</p>

			<div class="row">
			  <div class="four columns">
			    <label class="inline" for="email">E-mail</label>
			  </div>
			  <div class="eight columns">
			    <input data-ng-model="candidate.email" data-io-unique-in="primaryContact" id="email" name="email" placeholder="E-mail" type="email">
			    <!-- <span ng-show="form.email.$error.unique">Not unique</span> -->
			  </div>
			</div>

			<div class="row">
			  <div class="four columns">
			    <label class="inline" for="phone">Phone</label>
			  </div>
			  <div class="eight columns">
			    <input data-ng-model="candidate.phone" data-io-unique-in="primaryContact" id="phone" name="phone" placeholder="(###) ###-###" type="text">
			  </div>
			</div>
		</fieldset>

		<fieldset>

			<div class="row">
			  <div class="four columns">
			    <label class="inline" for="address">Address</label>
			  </div>
			  <div class="eight columns">
			    <input data-ng-model="candidate.address" id="address" name="address" placeholder="Address" type="text">
			  </div>
			</div>

			<div class="row">
			  <div class="four columns">
			    <label class="inline" for="city">City</label>
			  </div>
			  <div class="eight columns">
			    <input data-ng-model="candidate.city" id="city" name="city" placeholder="City" type="text">
			  </div>
			</div>

			<div class="row">
			  <div class="four columns">
			    <label class="inline" for="city">State</label>
			  </div>
			  <div class="eight columns">
			    <select
					data-ng-model="candidate.state"
					data-ng-options="o.value as o.label for o in options.states"
					id="state"
					name="state">
				</select>
			  </div>
			</div>

			<div class="row">
			  <div class="four columns">
			    <label class="inline" for="zip">ZIP</label>
			  </div>
			  <div class="eight columns">
			    <input data-ng-model="candidate.zip" id="zip" name="zip" placeholder="Zip" type="text">
			  </div>
			</div>

	</fieldset><fieldset>
			
			<div class="row">
			  <div class="four columns">
			    <label class="inline" for="preferred-contact">Preferred Contact</label>
			  </div>
			  <div class="eight columns">
			    <select data-ng-model="candidate.preferredContact" id="preferred-contact" name="preferredContact">
			    	<option value="Phone">Phone</option>
			    	<option value="Email">Email</option>
			    </select>
			  </div>
			</div>

			<div class="row">
			  <div class="four columns">
			    <label class="inline" for="event">Event</label>
			  </div>
			  <div class="eight columns">
			    <select
			    	data-ng-model="candidate.event"
			    	data-ng-options="o.value as o.label for o in options.events"
			    	id="event"
			    	name="event">
			    </select>
			  </div>
			</div>

			<p class="note">Additional Information</p>

			<div class="row">
			  <div class="four columns">
			    <label class="inline" for="highest-grade">Highest Grade</label>
			  </div>
			  <div class="eight columns">
			    <select
			    	data-ng-model="candidate.highestGrade"
			    	data-ng-options="o.value as o.label for o in options.grades"
			    	id="highest-grade"
			    	name="highestGrade">
				</select>
			  </div>
			</div>

			<div class="row">
			  <div class="four columns">
			    <label class="inline" for="event">Gender</label>
			  </div>
			  <div class="eight columns">
			    <select
			    	data-ng-model="candidate.gender"
			    	data-ng-options="o.value as o.label for o in options.genders"
			    	id="gender"
			    	name="gender">
			    </select>
			  </div>
			</div>

			<div class="row">
			  <div class="four columns">
			    <label class="inline" for="previously-enlisted">Previously Enlisted</label>
			  </div>
			  <div class="eight columns">
			    <select
			    	data-ng-model="candidate.previouslyEnlisted"
			    	data-ng-options="o.value as o.label for o in options.booleans"
			    	id="previously-enlisted"
			    	name="previouslyEnlisted">
			    </select>
			  </div>
			</div>

			<label class="row">
			  <div class="four columns">
			    <label class="inline">Date of Birth</label>
			  </div>
			  <div class="one columns">
			  	<a data-io-date-trigger><i class="calendar"></i></a>
			  </div>
			  <div class="seven columns">
			  	<input data-ng-model="candidate.birthday" data-ui-jq="datepicker" data-ui-options="{changeMonth: true, changeYear: true, dateFormat: 'mm/dd/yy'}" placeholder="MM/DD/YYYY" type="text">
			  </div>
			</label>


		</fieldset></div>

	<div class="six columns">
		
		<fieldset>
			<label class="row">
			  <div class="four columns">
			    <label class="inline">Date of Contact</label>
			  </div>
			  <div class="one columns">
			  	<a data-io-date-trigger><i class="calendar"></i></a>
			  </div>
			  <div class="seven columns">
			  	<input
			  		data-ng-model="candidate.contact.date"
			  		data-ng-required="validateContact()"
			  		data-ui-jq="datepicker"
			  		data-ui-options="{ changeMonth: true, changeYear: true, dateFormat: 'mm/dd/yy' }"
			  		placeholder="MM/DD/YYYY"
			  		type="text">
			  </div>
			</label>

			<div class="row">
			  <div class="four columns">
			    <label class="inline" for="notes">Notes</label>
			  </div>
			  <div class="eight columns">
			  	<!-- TODO: Contact notes or Candidate notes? -->
			    <textarea data-ng-required="validateContact()" data-ng-model="candidate.contact.notes" id="notes" name="notes"></textarea>
			  </div>
			</div>

			<div class="row">
			  <div class="four columns">
			    <label class="inline" for="disposition">Disposition</label>
			  </div>
			  <div class="eight columns">
			    <select
					data-ng-model="candidate.contact.disposition"
					data-ng-options="o.value as o.label for o in options.dispositions"
					data-ng-required="validateContact()"
					id="disposition"
					name="disposition">
				</select>
			  </div>
			</div>


		</fieldset>

	</div>

	<ul class="actions loading-{{loading|onOff}}">
		<!-- <li><a class="clear">Clear</a></li> -->
		<li><a data-ng-click="submit()" class="submit button">Submit</a></li>
	</ul>

	{{candidate}}

</form>
</div>