<!DOCTYPE html>
<!--[if lt IE 8]> <html class="no-js ie lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
    <title>Lead Refinement System</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="css/app.css">
    <script src="/lib/modernizr.js"></script>
</head>
<body data-ng-app="lrs" data-ng-controller="AppCtrl">
    <div id="wrapper">
        <header role="banner">
            <div>
                <h1 class="logo">
                    <a href="#/">
                        <img alt="National Guard" data-ext="png" height="23" src="/images/site/header/ng-logo.png" width="238">
                        <img alt="National Guard" data-ext="svg" height="23" src="/images/site/header/ng-logo.svg" width="238">
                        <span>Lead Refinement System</span>
                    </a>
                </h1>
                <nav role="navigation">
                    <ul>
                        <li data-ui-if="user.userRole" data-ng-cloak><a href="#/profile">Profile</a></li>
                        <li><a href="http://campo.nationalguard.com" target="_blank">Reports</a></li>
                        <li><a href="https://pth.army.pentagon.mil/rrportal/resources.php" target="_blank">Resources</a></li>
                        <li><a href="#/support">Support</a></li>
                        <li data-ui-if="user.userRole" data-ng-cloak><a data-ng-click="logout()">Logout</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <section role="application">
            <header>
                <div>
                    <h1 data-ng-show="user.firstName && user.lastName" data-ng-cloak>{{user.firstName}} {{user.lastName}}</h1>
                    <ul class="guard-contact">
                        <li><a href="tel:1-800-464-8273">1-800-GO-GUARD</a></li>
                        <li><a class="button right" href="#"><span>Chat Support</span></a></li>
                    </ul>
                </div>
            </header>
            <nav>
                <div>
                    <ul data-ui-if="!user.userRole">
                        <li><a href="#/login"><i>&#x26f9;</i> User Login</a></li>
                        <li class="last"><a href="#/reset-password"><i>&#x25ce;</i> Reset Password</a></li>
                    </ul>
                    <ul data-ui-if="user.userRole" data-ng-cloak>
                        <li><a href="#/dashboard"><i>&#x2302;</i></a></li><li>
                        <a href="#/goals">Mission Goals</a></li><li>
                        <a href="#/leads">Lead Management</a></li><li>
                        <a href="#/processing">Processing</a></li><li class="last">
                        <a data-ng-cloak data-ui-if="user.userRole == 'admin'" href="#/leads/import"><i>&#x2b;</i> Import Leads</a><li class="last">
                        <a href="#/leads/add"><i>&#x2b;</i> Add Lead</a></li>
                    </ul>
                </div>
                <div class="twelve columns centered">
                    <div data-ui-if="user.userRole" data-ng-cloak class="tools right">
                        <a data-ng-click="showToolbox()" href="#"><i>&#x25d9;</i></a>
                    </div>
                </div>
            </nav>
            <section role="main">
                <div data-ng-view>
                    Loading...
                </div>
            </section>
        </section>
    </div>

  <footer role="contentinfo">
    <div>
      <span class="official-use">For Official Use Only</span>
      <ul class="guard-contact right">
        <li><a href="tel:1-800-464-8273">1-800-GO-GUARD</a></li>
        <li><a class="button" href="#"><span>Chat Support</span></a></li>
        <li><span class="copyright right" data-ng-cloak>&copy;2007 - {{currentYear}} ARNG</span></li>
      </ul>
    </div>
  </footer>

    <section data-ng-controller="LoaderCtrl">
        <!--initial-loader -->
        <div class="app-loader app-loaded-{{appLoaded|onOff}} loader-on loader-{{shown|onOff}}"> <!-- TODO: Default class that gets wiped out? -->
            Loadin'.{{shown}} {{shown|onOff}} {{test}}
            <div id="spinner"></div>
        </div>
    </section>
    <div class="toolbox-wrapper" data-ng-include src="'/partials/toolbox/index.html'"></div>
    <div class="row" data-ng-include src="'/partials/modal/index.html'"></div>


<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
<script src="http://code.angularjs.org/1.0.1/angular-resource-1.0.1.min.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"></script>
-->

<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>
<script src="/app.js"></script>

</body>
</html>