<!-- TODO when partial missing, frantic hide/show of modal AND I get a generic 404? -->
<!-- TODO bootstrap modal -->
<!-- TODO toolbox button zindex -->
<label class="profile-url">
	<span>Profile URL:</span>
	<var><a href="http://www.nationalguard.com/{{user.rsid}}">http://www.nationalguard.com/{{user.rsid}}</a></var>
</label>

<div class="profile-preview nine columns">
	<div class="five columns photo"><!-- todo: profile.photo -->
		<img data-ui-if="user.photo" src="{{user.photo}}" width="100%">
		<img data-ui-if="!user.photo" src="/images/site/default-profile-photo.png" width="100%">
		<ul class="data-list">
			<li><span>Office</span> <var>{{user.office | tel}}</var></li>
			<li><span>Cell</span> <var>{{user.cell | tel}}</var></li>
			<li><var><a href="mailto:{{user.email}}">{{user.email}}</a></var></li>
		</ul>
		<span><i>&#x2585;</i>SHARE</span>
	</div>
	<div class="seven columns details">
		<h1>{{profile.title}}</h1>
		<h2><i class="stateface stateface-{{user.state}}"></i>{{user.city}}, {{user.state | uppercase}}</i></h2>
		<!-- TODO .. how can I make it safe? -->
		<span data-ng-bind-html-unsafe="profile.bio|paragraphs"></span>
	</div>
	<div class="refer row">
		<a class="apply">APPLY NOW</a>
		<span>&lt;&lt; Apply and refer {{user.name}}</span>
	</div>
	<div class="upcoming">
		<p>{{user.name}} is scheduled to be at these events near you:</p>

		<ul>
			<li>
				<div class="date">
					<span>NOV</span>07
				</div>
				<article>
					<h2>Tarleton State University Military Appreciation Game</h2>
					<p>Tarleton, TN</p>
					<div class="drawer">
					</div>
					<span class="item-close">
						<a href="#"></a>
					</span>
				</article>
			</li>
			<li>
				<div class="date">
					<span>NOV</span>08
				</div>
				<article>
					<h2>2012 Buffalo Baking Contest</h2>
					<p>Bucksnort, TN</p>
					<div class="drawer">
					</div>
					<span class="item-close">
						<a href="#"></a>
					</span>
				</article>
			</li>
			<li>
				<div class="date">
					<span>DEC</span>12
				</div>
				<article>
					<h2>3rd Annual Homemade Watergun Competition</h2>
					<p>Kingston Springs, TN</p>
					<div class="drawer">
					</div>
					<span class="item-close">
						<a href="#"></a>
					</span>
				</article>
			</li>
		</ul>

	</div>
</div>

<div class="profile-edit">
	<form class="three columns" novalidate>
		<h2>Edit Profile</h2>
		<label>
			<span>Profile Photo</span>
			<a class="button" href="#"><span>Select Photo</span></a>
			<p>sample_file.jpg</p>
		</label>
		<label>
			<span>Title</span>
			<input data-ng-model="profile.title" type="text" required>
		</label>
		<label>
			<span>Bio</span>
			<textarea data-ng-model="profile.bio" required>Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Etiam porta sem malesuada magna mollis ultricies vehi  euismod. Curabitur blandit tempus porttitor.

			Curabitur blandit tempus porttitor. Fusce dapibus, tellus ac cursus commodo, tortor mauris et uhelc ondimentum nibh, fermentum massa justo sit amet risus. Aenean lacinia bibendum nulla sed consectetur. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis  risus eget urna leo.
			</textarea>
		</label>
		<span class="save">
			<a class="button" data-ng-click="submit()"><span>Save Changes</span></a>
		</span>
	{{profile}}
	</form>
</div>