
<!-- TODO: Limit? Pagination? -->
<div data-ng-repeat="candidate in candidates | orderBy:orderProp" class="data-grid">
	<div>
		<h2>{{candidate.firstName}} {{candidate.lastName}}</h2>
		
		<ul class="data-highlights">
			<li>
				<span>Packet Completion</span>
				<var><a href="#">{{candidate.packet}}</a></var>
			</li>
			<li>
				<span>Last Action</span>
				<var><a href="#">06/04/12</a></var>
			</li>
		</ul>

		<ul class="data-dates">
			<li>
				<span>MESP date</span>
				<var>08/10/12</var>
			</li>
			<li>
				<span>ASVAB date</span>
				<var>none</var>
			</li>
		</ul>

		<ul class="data-notes">
			<li>
				<span>Notes</span>
				<var>Lorem ipsum dolor...</var>
			</li>
		</ul>

		<ul class="actions">
			<li><a class="button" data-ng-click="showContactDetails(candidate.personID)">Details</a></li>
	    	<li><a class="button" data-ng-click="addContact(candidate.personID)">Contact</a></li>
	    	<li><a class="button" href="/pth">Packet</a></li>
		</ul>
	</div>
</div>
