<h1>Search {{candidateType.name.plural}}</h1>

<form data-ng-submit="doSearch()" class="search">
	<div class="row">
		<div class="three columns">
          <div class="row">
            <div class="twelve columns">
              <div class="row collapse">
                <div class="ten mobile-three columns">
                  <input data-ng-model="search.query" data-ui-keyup="{'enter':'doSearch()'}" placeholder="Search" type="text">
                </div>
                <div class="two mobile-one columns">
                  <a data-ng-click="doSearch()"><span class="postfix"><i>&#x25cb;</i></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="three columns end">
            <select
                data-placeholder="Saved Searches"
				data-ng-change="updateSearch(savedSearch)"
				data-ng-model="savedSearch"
                data-ng-options="searches.name for searches in savedSearches"
                data-ui-select2="{allowClear:true}">
                <option></option>
			</select>
            <!-- data-ng-options="s.id as s.name for s in savedSearches"> -->
        </div>
        
        
    </div>
    <div class="row">
        <div class="three columns search-options">
            <a data-ng-click="manageSearches = false; advancedSearch = !advancedSearch">Advanced Search</a>
        </div>
        <div class="three columns search-options end">
            <a data-ng-click="advancedSearch = false; manageSearches = !manageSearches">Manage Searches</a>
        </div>    
    </div>
        <fieldset class="manage-searches" data-ng-show="manageSearches">
            <ul>
                <li ng-repeat="search in savedSearches" data-ng-model="search" class="four hover-visible-parent">
                    <var data-ui-if="!search.editable">
                        <i href="" class="edit hover-visible" ng-click="search.editable=true">&#x270f;</i>
                        <strong>{{ search.name }}</strong>
                    </var>
                    <div data-ui-if="search.editable">
                        <i href="" class="edit" ng-click="search.editable=false">&#x270f;</i>
                        <input type="text" class="search-edit" data-ng-model="search.name"> 
                        <i class="delete" data-ng-click="deleteSearch(search)">Delete</i>
                        <a class="button" data-ng-click="renameSearch(search)">Save</a>
                    </div>
                    
                </li>
            </ul>
        </fieldset>
        
        <fieldset class="advanced-search row" data-ng-show="advancedSearch">
            <ul class="four columns">
                <li>
                    <label>
                        <span class="four columns">Email</span>
                        <input class="eight columns" data-ng-model="search.advanced.email" type="text">
                    </label>
                </li>
                <li>
                    <label>
                        <span class="four columns">Phone</span>
                        <input class="eight columns" data-ng-model="search.advanced.phone" type="text">
                    </label>
                </li>
                <li>
                    <label>
                        <span class="four columns">First Name</span>
                        <input class="eight columns" data-ng-model="search.advanced.firstName" type="text">
                    </label>
                </li>
                <li>
                    <label>
                        <span class="four columns">Last Name</span>
                        <input class="eight columns" data-ng-model="search.advanced.lastName" type="text">
                    </label>
                </li>
                <li>
                    <label>
                        <span class="four columns">City</span>
                        <input class="eight columns" data-ng-model="search.advanced.city" type="text">
                    </label>
                </li>
                <li>
                    <label>
                        <span class="four columns">ZIP</span>
                        <input class="eight columns" data-ng-model="search.advanced.zip" type="text">
                    </label>
                </li>
                <li>
                    <label>
                        <span class="four columns">State</span>
                        <select
                            class="eight columns"
                            data-ng-model="search.advanced.state"
                            data-ng-options="o.value as o.label for o in options.states">
                        </select>
                    </label>
                </li>
            </ul>
            <ul class="four columns">
                <li>
                    <label>
                        <span class="four columns">Disposition</span>
                        <select
                            class="eight columns"
                            data-ng-model="search.advanced.disposition"
                            data-ng-options="o.value as o.label for o in options.dispositions">
                        </select>
                    </label>
                </li>
                <li>
                    <label>
                        <span class="four columns two-liner">Highest Grade</span>
                        <select
                            class="eight columns"
                            data-ng-model="search.advanced.grade"
                            data-ng-options="o.value as o.label for o in options.grades">
                        </select>
                    </label>
                </li>
                <li>
                    <label>
                        <span class="four columns">Gender</span>
                        <select
                            class="eight columns"
                            data-ng-model="search.advanced.gender"
                            data-ng-options="o.value as o.label for o in options.genders">
                        </select>
                    </label>
                </li>
                <li>
                    <label>
                        <span class="four columns two-liner">Previously Enlisted</span>
                        <select
                            class="eight columns"
                            data-ng-model="search.advanced.previouslyEnlisted"
                            data-ng-options="o.value as o.label for o in options.booleans">
                        </select>
                    </label>
                </li>
                <li>
                    <span class="four columns">Age Range</span>
                    <div class="row collapse">
                        <label class="four columns">
                            <span class="six columns">From</span>
                            <div class="six columns">
                                <input data-ng-model="search.advanced.ageFrom" type="text">
                            </div>
                        </label>
                        <label class="four columns">
                            <span class="six columns push-two">To</span>
                            <div class="six columns">
                                <input data-ng-model="search.advanced.ageTo" type="text">
                            </div>
                        </label>
                    </div>
                </li>
            </ul>
            <ul class="four columns">
                <li class="double">
                    <div class="row">
                        <span class="four columns">Date Added</span>
                        <label class="eight columns">
                            <input class="ten columns" data-ng-model="search.advanced.dateAddedFrom" data-ui-date="{changeMonth: true, changeYear: true}" placeholder="From" type="text"></span>
                            <a class="two columns" data-io-date-trigger><i class="calendar"></i></a>
                        </label>
                    </div>
                    <div class="row">
                        <label class="eight columns push-four">
                            <input class="ten columns" data-ng-model="search.advanced.dateAddedTo" data-ui-date="{changeMonth: true, changeYear: true}" placeholder="To" type="text"></span>
                            <a class="two columns" data-io-date-trigger><i class="calendar"></i></a>
                        </label>
                    </div>
                </li>
                <li class="double">
                    <div class="row">
                        <span class="four columns two-liner">Date Last Contacted</span>
                        <label class="eight columns">
                            <input class="ten columns" data-ng-model="search.advanced.lastContactedFrom" data-ui-date="{changeMonth: true, changeYear: true}" placeholder="From" type="text"></span>
                            <a class="two columns" data-io-date-trigger><i class="calendar"></i></a>
                        </label>
                    </div>
                    <div class="row">
                        <label class="eight columns push-four">
                            <input class="ten columns" data-ng-model="search.advanced.lastContactedTo" data-ui-date="{changeMonth: true, changeYear: true}" placeholder="To" type="text"></span>
                            <a class="two columns" data-io-date-trigger><i class="calendar"></i></a>
                        </label>
                    </div>
                </li>
                <li>
                    <label>
                        <span class="four columns">Event</span>
                        <select
                            class="eight columns"
                            data-ng-model="search.advanced.event"
                            data-ng-options="o.value as o.label for o in options.events">
                        </select>
                    </label>
                </li>
                <li>
                    <a class="button right" data-ng-click="search.advanced = {}">Clear</a>
                </li>
                <!-- <li>
                    <var class="right">Showing <strong>x</strong> to <strong>y</strong> of <strong>z</strong> results</var>
                </li> -->
            </ul>
        </fieldset>

      <div class="row filters">
      	<div class="three columns">
      		<select
                data-placeholder="Sort by...."     
                ui-select2="{allowClear:true}"
                class="ten"
                data-ng-model="orderProp[0]"
                >
                <option></option>
                <option ng-repeat="prop in options.candidateSortFields" value="{{ prop.value }}">{{ prop.label }}</option>
            </select>
          <a class="two columns" data-ng-click="toggleOrderProp(0)"><i data-ng-class="orderPropReversed[0] && 'arrow-down' || 'arrow-up'"></i></a>
      	</div>
      	<div class="three columns">
      		<select
                data-placeholder="Sort by...."    
                ui-select2="{allowClear:true}"
                data-ng-model="orderProp[1]"
                class="ten"
                >
                <option></option>
                <option ng-repeat="prop in options.candidateSortFields" value="{{ prop.value }}">{{ prop.label }}</option>
            </select>
          <a class="two columns" data-ng-click="toggleOrderProp(1)"><i data-ng-class="orderPropReversed[1] && 'arrow-down' || 'arrow-up'"></i></a>
      	</div>
      	<div class="three columns">
      		<select
                data-placeholder="Sort by...."     
                ui-select2="{allowClear:true}"
                class="ten"
                data-ng-model="orderProp[2]"
                ng-selected="orderProp[2]"
                >
                <option></option>
                <option ng-repeat="prop in options.candidateSortFields" value="{{ prop.value }}">{{ prop.label }}</option>
            </select>
          <a class="two columns" data-ng-click="toggleOrderProp(2)"><i data-ng-class="orderPropReversed[2] && 'arrow-down' || 'arrow-up'"></i></a>
      	</div>
      	<div class="three columns">
	      	<ul class="actions list loading-{{loading|onOff}} {{view}}-on"> <!-- inline -->
				<li><a data-ng-click="doSearch()" class="search button">Search</a></li>
				<li><a data-ng-click="saveSearch()" class="save-search">Save</a></li>
				<li><a data-ng-click="view='list'" class="toggle-list inset"><i>&#x2254;</i></a></li>
				<li><a data-ng-click="view='grid'" class="toggle-grid inset"><i>&#x2449;</i></a></li>
			</ul>
		</div>
      </div>

</form>

<!-- <div data-ng-switch data-on="view" data-ui-if="paging.currentPage" class="view-{{view}}"> -->
<div data-ng-switch data-on="view" data-ng-show="candidates.length > 0" class="view-{{view}}">
	<div data-ng-include data-ng-switch-when="list" src="'/partials/candidates/search/list.html'"></div>
	<div data-ng-include data-ng-switch-when="grid" src="'/partials/candidates/search/grid.html'"></div>
</div>

<div data-ng-show="candidates.length == 0">
    No results.
</div>