<div class="search-meta">
	<ul class="limit-results six columns">
		<li>View:</li>
		<li><a data-ng-click="search.limit=25;doSearch();">25</a></li>
	    <li><a data-ng-click="search.limit=50;doSearch();">50</a></li>
	    <li><a data-ng-click="search.limit=100;doSearch();">100</a></li>
	    <!-- <li><a data-ng-click="search.limit=0;doSearch();">All</a></li> -->
	</ul>

	<ul class="pagination six columns">
		<li data-ui-if="!paging.isFirst"><a data-ng-click="doSearch(paging.currentPage - 1)"><i>&#x2190;</i></a></li>
		<li data-ng-class="paging.currentPage == page && 'active'" data-ng-repeat="page in paging.pages"><a data-ng-click="doSearch(page)">{{page}}</a></li>
	    <li data-ui-if="!paging.isLast"><a data-ng-click="doSearch(paging.currentPage + 1)"><i>&#x2192;</i></a></li>
	</ul>
</div>

<div data-ng-repeat="candidate in candidates | orderBy:orderProp" class="data-rows">
	<div>
		<ul class="narrow">
			<li><var><h2 data-ng-click="candidate.detailsShown = !candidate.detailsShown" class="details-{{candidate.detailsShown|onOff}}">{{candidate.lastName}}, {{candidate.firstName}}</h2></var></li>
			<li><var>{{candidate.address1}}</var></li>
			<li ui-if="!!candidate.address2.length"><var>{{candidate.address2}}</var></li>
			<li><var>{{candidate.city}}, {{candidate.state}} {{candidate.zip}}</var></li>
		</ul>
		<ul class="narrow">
			<li><var><a href="mailto:{{candidate.email}}">{{candidate.email}}</a></var></li>
			<li><span>Age</span> <var>{{candidate.age}}</var></li>
			<li><span>Phone</span> <var>{{candidate.phone}}</var></li>
		</ul>
		<ul>
			<li><span>Contacted</span> <var>{{candidate.contacted|yN}}</var></li>
			<li><span>Registered</span> <var>{{candidate.registered}}</var></li>
			<li><span>Last action</span> <var>{{candidate.lastAction}}</var></li>
		</ul>
		<ul>
			<li><span>Prior</span> <var>{{candidate.prior|yN}}</var></li>
			<li><span><a href="/pth">Packet</a></span> <var>{{candidate.packet}}</var></li>
			<li><span>Appointment</span> <var>{{candidate.appointment}}</var></li>
		</ul>
		<ul class="actions">
	    	<li><a class="button" data-ng-click="showContactDetails(candidate.personID)">Details</a></li>
	    	<li><a class="button" data-ng-click="addContact(candidate.personID)">Contact</a></li>
	    	<li><a class="button" href="/pth">Packet</a></li>
	    </ul>
	</div>
	<div ng-show="candidate.detailsShown">
		<fieldset class="wide">
			<ul>
				<li><span>Gender</span> <var>{{candidate.gender}}</var></li>
				<li><span>Age</span> <var>{{candidate.age}}</var></li>
				<li><span>Ht./Wt.</span> <var class="{{candidate.go.heightWeight}}">{{candidate.go.heightWeight}}</var></li>
				<li><span>Medical</span> <var class="{{candidate.go.medical}}">{{candidate.go.medical}}</var></li>
			</ul>
			<ul>
				<li><span>Law Violations</span> <var class="{{candidate.go.lawViolations}}">{{candidate.go.lawViolations}}</var></li>
				<li><span>Dependents</span> <var class="{{candidate.go.dependents}}">{{candidate.go.dependents}}</var></li>
				<li><span>Education</span> <var class="{{candidate.go.education}}">{{candidate.go.education}}</var></li>
				<li><span>Prior Service</span> <var class="{{candidate.go.priorService}}">{{candidate.go.priorService}}</var></li>
			</ul>
		</fieldset>
		<ul>
			<li><span>Webcast</span> <var>{{candidate.webcast}}</var></li>
			<li><span>AFQT</span> <var>{{candidate.afqt}}</var></li>
			<li><span>C2CID</span> <var>{{candidate.c2cid}}</var></li>
			<li><span>PRID</span> <var>{{candidate.prid}}</var></li>
		</ul>
		<ul>
			<li><span>Source</span> <var>{{candidate.source}}</var></li>
		</ul>
	</div>
</div>

<div class="search-meta last">
	<ul class="limit-results six columns">
		<li>View:</li>
		<li><a data-ng-click="limit=25;doSearch();">25</a></li>
	    <li><a data-ng-click="limit=50;doSearch();">50</a></li>
	    <li><a data-ng-click="limit=100;doSearch();">100</a></li>
	    <!-- <li><a data-ng-click="search.limit=0;doSearch();">All</a></li> -->
	</ul>

	<ul class="pagination six columns">
		<li data-ui-if="!paging.isFirst"><a data-ng-click="doSearch(paging.currentPage - 1)"><i>&#x2190;</i></a></li>
		<li data-ng-class="paging.currentPage == page && 'active'" data-ng-repeat="page in paging.pages"><a data-ng-click="doSearch(page)">{{page}}</a></li>
	    <li data-ui-if="!paging.isLast"><a data-ng-click="doSearch(paging.currentPage + 1)"><i>&#x2192;</i></a></li>
	</ul>
</div>