<!-- change 'admin' to 'NCOIC' -->

<h1>Import Leads</h1>

<div class="alert-box alert" data-ui-if="showInvalidInfo">Cannot process import. Please contact us or try again.</div>

<div data-ng-switch data-on="view">
	<div data-ng-include data-ng-switch-when="upload" src="'/partials/candidates/import/upload.html'"></div>
	<div data-ng-include data-ng-switch-when="map" src="'/partials/candidates/import/map.html'"></div>
	<div data-ng-include data-ng-switch-when="validate" src="'/partials/candidates/import/validate.html'"></div>
</div>