<h2>Map Columns</h2>
<div data-ng-controller="MapImportCandidateCtrl">
	<div class="alert-box alert" data-ui-if="mapForm.showInvalidInfo">Please select two fields to map.</div>
	<div class="alert-box alert" data-ui-if="mapForm.showInvalidInfo">Please map all required fields.</div>
	<form data-ng-show="unmappedRequiredFields.length > 0" name="mapForm">
		<ul class="data-row">
			<li>
				<label>
					<span>Required Fields</span>
					<select
						data-ng-options="field for field in unmappedRequiredFields"
		                data-ng-model="unmapped.requiredField"
		                name="requiredField"
		                required>
					</select>
				</label>
			</li>
			<li>
				<label>
					<span>Columns From File</span>
					<select
						data-ng-options="field for field in unmappedFileFields"
		                data-ng-model="unmapped.fileField"
		                name="fileField"
		                required>
					</select>
				</label>
			</li>
			<li>
				<a class="button" data-ng-click="map()">Map</a>
			</li>
		</ul>
	</form>
	<form>
		<ul class="data-row" data-ng-class-odd="'zebra'" data-ng-repeat="(requiredField, fileField) in mappedFields">
			<li>{{requiredField}}</td>
			<li>{{fileField}}</td>
			<li><a class="button" data-ng-click="unmap(requiredField, fileField)">Unmap</a></td>
		</ul>
	</form>
	<a class="button" data-ng-click="reset()">Cancel</a>
	<a class="button" data-ng-click="next()">Next</a>

{{unmapped}}
</div>

<!-- data-ui-select2 -->