<h2>Upload File</h2>
<p><strong>Important!</strong> The maximum file size is 5MB. The maximum number of import records is 500. Valid "Last Contact" dates must be not older than one year, and must NOT be in the future. Valid date formats are: "mm/dd/yy" , "mm/dd/yyyy" and "yyyy/mm/dd". Records with invalid data values or formats will not be imported.</p>
<div class="row data-list" data-ng-class="leadsImportForm.showErrors && 'show-errors'" data-ng-controller="UploadCandidatesCtrl">
	<div class="alert-box alert" data-ui-if="leadsImportForm.showInvalidInfo">Please fix the errors below.</div>
	<form name="leadsImportForm">
		<div class="row">
			<div class="four columns">
				<label>
					<span>Source/Event</span>
					<select
						data-ng-options="events.value as events.label for events in options.events"
		                data-ng-model="leadsImport.source"
		                data-ui-select2
		                name="source"
		                required>
		            </select>
				</label>
				<input data-ng-show="leadsImport.source==9" data-ng-required="leadsImport.source==9" data-ng-model="leadsImport.otherSource" name="otherSource" type="text">
			</div>
			<div class="eight columns field-info">
				<mark class="icon-left" data-ng-show="leadsImportForm.source.$invalid">Required field</mark>
			</div>
		</div>
		<div class="row">
			<div class="four columns">
				<label><span>Assign Imported Leads to the RRNCO based on</span></label>
				<label>
					<input data-ng-model="leadsImport.assignBy" name="assignBy" type="radio" value="rsid" required>
					RSID
					<div data-ng-show="leadsImport.assignBy == 'rsid'">
						<select
							data-ng-model="leadsImport.rsid"
							data-ng-options="recruiter.label as recruiter.label for recruiter in recruiters"
							data-ng-required="leadsImport.assignBy == 'rsid'"

							name="rsid">
						</select>
					</div>
				</label>
				<label>
					<input data-ng-model="leadsImport.assignBy" name="assignBy" type="radio" value="zip" required>
					ZIP
				</label>
			</div>
			<div class="eight columns">
				<mark class="icon-left" data-ng-show="leadsImportForm.assignBy.$invalid">Required field</mark>
				<mark class="icon-left" data-ng-show="leadsImportForm.rsid.$invalid">Select an RSID</mark>
			</div>
		</div>
		<!-- <div class="row">
			<div class="four columns">
				<label>Does import file contain column headers?</label>
				<label><input data-ng-model="leadsImport.hasColumnHeaders" data-ng-value="true" name="hasColumnHeaders" type="radio" required>Yes</label>
				<label><input data-ng-model="leadsImport.hasColumnHeaders" data-ng-value="false" name="hasColumnHeaders" type="radio" required>No</label>
			</div>
			<div class="eight columns">
				<mark class="icon-left" data-ng-show="leadsImportForm.hasColumnHeaders.$invalid">Required field</mark>
			</div>
		</div> -->
		<div class="row">
			<div class="four columns">
				<label><span>Select the file from your system</span></label>
				<!-- TODO mark that file input has a file already uploaded -->
				<input data-ng-class="!file && 'ng-invalid'" data-ng-model="leadsImport.file" data-io-change="setFileLocation" type="file">
			</div>
			<div class="eight columns">
				<mark class="icon-left" data-ng-show="!file">CSV, XLS or XLSX file required.</mark>
			</div>
		</div>
		<a class="button" data-ng-click="next()">Next</a>
	</form>
	{{leadsImport}}<br>{{file}}<br>{{leadsImportForm}}
</div>