<h2>Validation</h2>

<div data-ng-controller="ValidateCandidateImportCtrl">
	<ul class="data-list">
		<li>
			<span>Duplicate Count</span>
			<var data-ng-show="file.duplicates > 0">{{file.duplicates}}</var>
			<var data-ng-show="file.duplicates == 0">There is no duplicate data.</var>
		</li>
		<li>
			<span>Invalid Data</span>
			<var data-ng-show="file.invalid > 0">{{file.invalid}}</var>
			<var data-ng-show="file.invalid == 0">There is no invalid data.</var>
		</li>
		<li>
			<span>Tracking ID</span>
			<var>{{file.id}}</var>
		</li>
	</ul>
	<a class="button" data-ng-click="reset()">Cancel</a>
	<a class="button" data-ng-click="next()">Next</a>
</div>