//////select2

// $height : 32px;
// $heightMinusBorder: $height - 2;
// $radius: 2px;

//this mixin configures a select box with height and radius settings
//maybe move out to mixins later?
@mixin select-config($height, $radius, $width : 100%){
	.select2-container { //full width selects for responsivenesssss
		width:$width !important;
		float: left;
		// height:$height;
		@include border-radius($radius);

		&.select2-dropdown-open {
			@include border-bottom-radius(0px);
			a.select2-choice {
				@include border-bottom-radius(0px);
			}
		}

		a.select2-choice {
			@include border-radius($radius);
			height:$height;
			span {
				margin-top:7px;
			}
		}
		.select2-choices {
			@include border-radius($radius);
			width: 100%;
			border: 0;
			// height:$height !important;
			.select2-search-field {

			}
			.select2-input {
				height: $height !important; //$height !important;
				border:0;
				margin:0 !important;
			}
		}
	}
	.select2-drop {
		@include border-radius($radius);
	}	
}

//general select
@include select-config(32px, 2px);


// //inside of an editable data row
.data-row {
	@include select-config(28px, 2px);
}

// //inside of an editable data row
.search {
	@include select-config(30px, 2px, 83.33333%);
}





