// @import "foundation/common/globals";

/* Global Reset & Standards ---------------------- */

  *, *:before, *:after { @include box-sizing(border-box); }
  html { font-size: 62.5%; -webkit-font-smoothing: antialiased; } //  -webkit-font-smoothing: $fontSmoothing;
  body { background: $white; font-family: $bodyFontFamily; font-weight: $bodyFontWeight; font-style: $bodyFontStyle; font-size: ms(0); line-height: 1; color: $bodyFontColor; position: relative; }

/* Links ---------------------- */

  a img { border:none; }
  a { color: $mainColor; text-decoration: none; line-height: inherit; }
  a:hover { color: darken($mainColor, 5%); }
  a:focus { color: $mainColor; outline: none; }
  p a, p a:visited { line-height: inherit; }

// end Foundation globals

// @import "foundation/components/modules/ui";

/* Alerts ---------------------- */

div.alert-box {
    $alertBorderRadius: 3px;
    display: block;
    padding: 6px 7px 7px;
    font-weight: bold;
    font-size: ms(0);
    color: $white;
    background-color: $mainColor;
    border: 1px solid rgba(#000,.1);
    margin-bottom: 12px;
    @include border-radius($alertBorderRadius);
    text-shadow: 0 -1px rgba(#000,.3);
    position: relative;
    &.success { background-color: $successColor; color: #fff; text-shadow: 0 -1px rgba(#000,.3); }
    &.alert { background-color: $alertColor; color: #fff; text-shadow: 0 -1px rgba(#000,.3); }
    &.secondary { background-color: $secondaryColor; color: darken($secondaryColor, 60%); text-shadow: 0 1px rgba(#fff,.3); }

    a.close {
        color: #333;
        position: absolute;
        // #{$defaultOpposite}: 4px;
        right: 4px;
        top: -1px;
        font-size: ms(1);
        opacity: 0.2;
        padding: 4px;
        &:hover,
        &:focus {
            opacity: 0.4;
        }
    }
}

// end Foundation UI

html,
body {
    height: 100%;
}
#wrapper{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -80px 0;
    // @include clearfix;
    padding-bottom: $footerHeight;
}

body {
    // Use native iOS bouncy scrolling where possible
    -webkit-overflow-scrolling: touch;
}
* {
    line-height: 1.333;
}
abbr {
    cursor: inherit;
}
h1,h2,h3,h4,h5,h6 {
    // Remove link styling from linked headers
    & a {
        color: $headerFontColor;
        &:hover {
            color: inherit;
        }
    }
}
i {
    cursor: pointer;
    font-style: normal;
}
p {
    margin-top: unit();
    margin-bottom: unit();
}
form {
    margin: 0;
    // h1 {
    //     margin-top: 0;
    // }
}
img {
    // When images may be raster or vector:
    // By default, hide SVG images and show the raster version.
    // Do the reverse when SVG is supported (via Modernizr)
    &[data-ext] {
        display: inline;
        .svg & {
            display: none;
        }
        &[data-ext="svg"] {
            display: none;
            .svg & {
                display: inline;
            }
        }
    }
    // Remove border color from linked images
    & a {
        border: none;
    }
}
label {
    text-align: left;
}
textarea {
    height: 200px;
}
table {
    border-spacing: 0;
    width: 100%;
}
var {
    font-style: normal;
}
section[role="application"] {
    @include clearfix;
}

section[role="main"] {
    background-image: url('/images/site/page-bg.jpg');
    background-repeat: repeat-x;
    @include padding-vertical(40px);
    > div {
        @extend %wrapper;
        position: relative;
        z-index: 0;
    }
}