.right {
    float: right;
}
.left {
    float: left;
}
// generic button
%button {
    &:hover {
        color: inherit;
    }
}

%medium {
    color: $medium;
    border-color: $medium;
    &:hover{
        color: $light;
        border-color: $light;

    }
}

// standard border
%border {
    @include border-horizontal;
    @include border-vertical;
}
// standard margin
%margin {
    @include margin-horizontal;
    @include margin-vertical;
}
// standard padding
%padding {
    @include padding-horizontal;
    @include padding-vertical;
}
%action-button {
    @extend %border;
    @extend %button;
    color: $dark;
    display: inline-block;
    font-family: $headerFontFamily;
    text-transform: uppercase;
        font-size: 1.125em;
        padding: 4px 3px 2px;
        border: 3px solid;
}
%action-link {
    @extend %underline;
    color: inherit;
    text-transform: lowercase;
}
%action-link-with-icon {
    @extend %action-link;
    position: relative;
}
%action-link-with-icon-left {
    @extend %action-link-with-icon;
    margin-left: unit(2);
    &:before {
        // @include icon(...);
        bottom: -3px;
        left: unit(-1.75);
        position: absolute;
    }
}
%action-link-with-icon-right {
    @extend %action-link-with-icon;
    margin-right: unit(2);
    &:after {
        // @include icon(...);
        bottom: -3px;
        right: unit(-1.75);
        position: absolute;
    }
}
// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
%hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
%hatched-background {
    background-image: url('/images/site/hatched-bg.png');
}
%hatched-border {
    position: relative;
}
%hatched-border-psuedo {
    background-image: url('/images/site/hatched-arrow.png');
    background-position: 0% 0%;
    content: '';
    height: 11px;
    left: 0;
    position: absolute;
    width: 100%;
}
%hatched-header {
    @extend %hatched-border;
    padding-top: unit(3);
    margin-top: unit(2);
    &:before {
        @extend %hatched-border-psuedo;
        top: -11px;
    }
}
%hatched-footer {
    @extend %hatched-border;
    padding-bottom: unit(3);
    margin-bottom: unit(2);
    &:after {
        @extend %hatched-border-psuedo;
        background-position: 0% 100%;
        bottom: -11px;
    }
}
%hatched-header-and-footer {
    @extend %hatched-header;
    @extend %hatched-footer;
}
// overrides default compass horizontal list
%horizontal-list {
    @include horizontal-list;
    li {
        // list-style-image: none;
        // list-style-type: none;
        // margin-left: 0;
        // white-space: nowrap;
        // display: inline;
        // float: left;
        // padding-left: 4px;
        // padding-right: 4px;
        display: inline-block;
        float: none;
    }
}
.unstyled-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.clearfix {
    @include clearfix;
}
// http://ryanfait.com/resources/footer-stick-to-bottom-of-page/
%push {
    clear: both;
    content: '';
    display: block;
}
%reverse {
    $color: $white;
}
%reverse-display {
    $color: $white;
    font-family: $headerFontFamily;
    text-shadow: 1px 1px $extra-dark;
    text-transform: uppercase;
}
%background-hover {
    &:hover {
        @include transparent($light-blue, .15);
    }
}
%underline {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
// Used for centering content
%wrapper {
    @include outerRow;
}
.zebra {
    background-color: #edf3f8;
    .rgba & {
        background-color: rgba(#3a7ab0, .09);
    }
}
%zebra-rows {
    :nth-child(odd) {
        @extend .zebra;
    }
}

// data display border and header stuff
%goals-padding {
    padding: 20px 15px 20px 15px;
}

%data-border {
    border: 2px solid rgb(216, 216, 216);
}

%buttons {
    font-weight: 400;
    text-align: left;
    white-space: normal;
}

%buttons-icons {
    font-size: $small;
    font-weight: 800;
    text-align: center;
}

%small-button {
    font-size: 12px;
    line-height: 10px;
    padding: 2px 5px 0 5px;
}

%larger-button {
    font-size: 13px;
    height: 24px;
    line-height: 22px;
    padding: 0 5px 5px 0;
    text-align: right;
}

%larger-still-button {
    @extend %buttons;
    font-size: 18px;
    line-height: 22px;
    padding: 0 5px 0 5px;

    span {
        position: relative;
        top: 2px;
    }

    &:after {
        @extend %buttons-icons;
        @include icon($icon-arrow-right);
        margin-left: 10px;
    }
}

.large-button,
%large-button {
    @extend %buttons;
    font-size: 22px;
    line-height: 28px;
    padding: 0 5px 0 5px;

    span {
        position: relative;
        top: 2px;
    }

    &:after {
        @extend %buttons-icons;
        font-size: 14px;
        @include icon($icon-arrow-right);
        margin-left: 10px;
    }
}

%save-button {
    @extend %buttons;
    border-color: $light-blue;
    color: $light-blue;
    font-size: 18px;
    line-height: 22px;
    padding: 0 5px 0 5px;

    span {
        position: relative;
        top: 2px;
    }

    &:after {
        @extend %up-arrow-button-icon;
        margin-left: 10px;
    }
}

%plus-button-icon {
    @extend %buttons-icons;
    @include icon($icon-plus);
    border-right: 3px solid $dark;
    display: block;
    float: left;
    font-size: 14px;
    line-height: 18px;
}

%right-arrow-button-icon {
    @extend %buttons-icons;
    @include icon($icon-arrow-right);
    border-left: 3px solid $dark;
    float: right;
    font-size: $small;
    line-height: 23px;
    padding: 0 0 0 5px;
    position: relative;
    top: 0;
}

%up-arrow-button-icon {
    @extend %buttons-icons;
    @include icon($icon-arrow-up);
    border-left: 3px solid $light-blue;
    color: $light-blue;
    float: right;
    font-size: $small;
    line-height: 23px;
    padding: 0 0 0 5px;
    position: relative;
    top: 0;
}

%cac-icon {
    background: url('/images/site/icon-profile.png') center 5px no-repeat;
    float: left;
    height: 35px;
    width: 35px;
}

%data-header {
    border-bottom: 1px solid rgb(216, 216, 216);
    font-size: 14px;
    line-height: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

%data-left-column {
    float: left;
    font-size: 13px;
    font-weight: 400;
    width: 134px;
}

%data-column {
    @extend %padding;
    font-size: $small;
    font-weight: 400;
}

%data-var-large {
    color: $light-blue;
    float: right;
    font-size: 36px;
    font-weight: 800;
}

%data-var-small {
    color: rgb(79, 79, 79);
    float: right;
    font-size: 28px;
    font-weight: 800;
}

%data-table-header-large {
    font-size: $small;
    font-weight: 400;
    text-align: center;
}

%data-table-header-small {
    font-size: 10px;
    font-weight: 400;
    text-align: center;
}

%data-table-small {
    color: rgb(79, 79, 79);
    font-size: 28px;
    font-weight: 800;
    text-align: center;
}

.divided-line-h {
    border-top: 1px solid rgb(216, 216, 216);
    padding: 20px 0 0 0;
}

.data-odd-zebra {
    background-color: #edf3f8;
        .rgba & {
            background-color: rgba(#3a7ab0, .09);
        }
}

%toolkit-icon {
    float: right;
    font-size: 42px;
    height: 91px;
    position: relative;
    left: 10px;
}

%add-event-h1 {
    @include padding-vertical(10px);
    border-bottom: 2px solid $medium;
    color: $extra-light;
    font-size: ms(16);
    font-weight: 800;
    width: 50%;
}

%add-event-date {
    padding-left: 15px;
    color: $extra-light;
    display: table-cell;
    font-size: 1.5em;
    font-weight: 800;
    vertical-align: middle;
}

%modal-close {
    color: $light;
    font-size: 22px;

    &:hover {
        color: $dark;
    }
}

%upcoming-dates-list {
    @extend .unstyled-list;
    clear: both;
    padding-left: 0;
    padding-top: 20px;

    li {
        *zoom: 1;
        list-style: none;
        margin-bottom: 24px;

        &:before, &:after {
            content: "";
            display: table;
        }

        &:after {
            clear: both;
        }

        article {
            float: right;
            width: 87%;

            h2 {
                font-family: $headerFontFamily;
                font-size: 22px;
                margin-top: 0;
            }

            p {
                font-size: 14px;
            }

            .item-close {
                width: 100%;
            }
        }
    }

}

%date {
    border: 4px solid #626663;
    color: #626663;
    float: left;
    width: 8.33333%;
    padding: 0 5px;
    font-family: "DIN Next W01 Medium", Arial, Helvetica, sans-serif;
    font-size: 35px;
    letter-spacing: 0;
    line-height: 1.2;
    padding: 0;
    text-align: center;
    text-transform: uppercase;

    span {
        background-color: #626663;
        color: white;
        display: block;
        font-size: .5em;
        letter-spacing: 1px;
    }
}

%drawer {
    display: none;
    float: left;
    width: 100%;

    > span {
        *zoom: 1;
        background: transparent url('/images/site/read-more-bg.jpg') repeat 0 0;
        display: block;
        margin-bottom: 15px;
        padding: 25px;
    }
}

%item-close {
    border-top: 1px solid $extra-light;
    display: block;
    float: right;
    padding-right: 10px;
    width: 200px;

    a {
        background: #fff;
        border: 1px solid $extra-light;
        border-top: 0;
        color: $light;
        display: inline-block;
        font-size: .9em;
        font-weight: bold;
        font-family: $small;
        margin: 0 0 0 440px;
        padding: 4px 8px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        top: -10px;

        @include before('MORE');
        @include after($icon-arrow-down, 1);
        &:before,
        &:after {
            font-size: .8em;
        }

        &:before {
            content: 'MORE';
        }

        &:after {
            @include icon($icon-arrow-down);
        }

        &:after,
        .after {
            margin-left: 5px;
        }

    }

    &.closed {
        a {
            @include before('LESS');
            @include after($icon-arrow-up, 1);
        }

    }
}

%modal-data-list-contact-info {

    padding: 5px 0 15px 0;

    li {
      font-size: $h3;
      padding-top: 3px;

      span {
        font-weight: normal;
      }

      var {
        font-weight: 800;
      }

      a {
        font-weight: 800;
      }
    }
}