@font-face {
  font-family: 'DIN Next W01 Medium';
  src: url('/fonts/din/din.eot');
  src: url('/fonts/din/din.eot?#iefix') format('embedded-opentype'),
       url('/fonts/din/din.woff') format('woff'),
       url('/fonts/din/din.ttf') format('truetype'),
       url('/fonts/din/din.svg#DIN-Next-W01-Medium') format('svg');
}
@font-face {
  font-family: 'NG-Vector-Icons';
  src: url('/fonts/icons/icons.eot');
  src: url('/fonts/icons/icons.eot?#iefix') format('embedded-opentype'),
       url('/fonts/icons/icons.woff') format('woff'),
       url('/fonts/icons/icons.ttf') format('truetype'),
       url('/fonts/icons/icons.svg#NG-Vector-Icons') format('svg');
}
@font-face {
  font-family: 'StateFaceRegular';
  src: url('/fonts/stateface/stateface-regular-webfont.eot');
  src: url('/fonts/stateface/stateface-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/stateface/stateface-regular-webfont.woff') format('woff'),
       url('/fonts/stateface/stateface-regular-webfont.ttf') format('truetype'),
       url('/fonts/stateface/stateface-regular-webfont.svg#StateFaceRegular') format('svg');
}