footer[role="contentinfo"] {
	background: $blue url('/images/site/footer-bg.jpg') repeat-x 0 0;
	clear: both;
	color: $white;
	height: $footerHeight; /* .push must be the same height as .footer */
	text-align: right;
	> div {
		@extend %wrapper;
		@extend %reverse-display;
		padding-left: 35px; // space for flag
		padding-top: 25px;
		position: relative;
		
		> span {

			&:before {
				@include icon($icon-flag);
				display: block;
				font-size: 2em;
				font-weight: normal;
				left: 0;
				line-height: .85; // for vertical positioning
				position: absolute;
				top: 25px;
				//margin-top: -21%;
			}
		}

		.guard-contact {

			a {
				color: $white;

				&:hover {
					color: $extra-light;
				}
			}

			.button {

				&:after {
					border-left: 3px solid $white;
				}
			}
		}
	}
	
	a {
		color: inherit;
	}

	.official-use {
		@include margin-vertical(5px);
		font-size: $h4;
		float: left;
	}

	.copyright {
		font-size: $small;
	}
}