// avoid literals

header[role="banner"] {
	&:before {
		background-color: $blue;
		background-image: url('/images/site/header/blue-bar.jpg');
		content: '';
		display: block;
		height: 10px;
	}
	> div {
		@extend %wrapper;
		@include padding-vertical;
	}
	h1 {
		font-size: 21px; // extend / literal
		display: inline;
		a {
			text-transform: uppercase;
		}
		img {
			margin-right: 10px;
			vertical-align: middle;
		}
		span {
			position: relative;
			top: 3px;
		}
	}
	nav[role="navigation"] {
		@extend %horizontal-list;
		float: right;
		margin-top: 3px;
		ul {
			display: inline;
			a {
				color: inherit;
				font-size: $small;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

section[role="application"] {
	> header {
		background-color: $extra-light;
		background-image: url('/images/site/header/bg.jpg');
		border-top: 1px solid $light;
		> div {
			@extend %wrapper;
			@include padding-vertical;
			display: table;

			> span {
				display: table-cell;
				font-size: $extra-small;
				vertical-align: middle;
			}
		}
		h1,
		> span {
			text-shadow: 1px 1px $white;
		}
		h1 {
			@include h2;
			display: table-cell;
			margin-right: 20px;
			vertical-align: middle;
			&:before {
				@include icon($icon-person);
				margin-right: 10px;
			}
		}
		> span {
			color: $dark;
			font-size: $extra-small; // need extend
			a {
				color: inherit;
				border-bottom: 1px solid $dark;
			}
		}
		.guard-contact {
			// from extend class
			float: right;

			
		}
	}
	> nav {
		$nav-light: $medium;
		$nav-dark: $extra-dark;
		@include border-vertical($nav-dark);
		background: $dark;
		height: 38px;
		position: relative;
		z-index: 2;
		> div {
			@extend %wrapper;
		}
		* {
			line-height: 2;
		}
		ul {
			@extend %horizontal-list;
			@include border-horizontal($nav-dark);

			li {
				@include padding-horizontal(0);

				a {
					@include border-horizontal($nav-light, $nav-dark);
					@include h2;
					@include padding-horizontal(10px);
					@include padding-vertical;
					@include transition(background-color, .125s);
					color: $white;
					text-transform: uppercase;
					text-shadow: 1px 1px $nav-dark;
					
					&:hover {
						background-color: $nav-dark;
					}
				}
				&.active {
	                a {
	                	// needs css triangle
	                	background-color: $nav-dark;

	                	&:after {
	                		width: 0;
							height: 0;
							border: solid 15px;
							border-color: #2f2f2f transparent transparent transparent;
							content: '';
							display: block;
							position: absolute;
							top: 37px;
							z-index: 99;
	                	}
	                }
	            }
				&.last {
					border-left: 1px solid $nav-dark;
					border-right: none;
					float: right;
					a {
						
						border-left: 1px solid $nav-light;
						border-right: none;
					}
				}
			}
		}
		// the toolkit icon in body display
		.tools {
			@extend %toolkit-icon;

			a {
				@include transition(color, .250s);
				color: $dark;
				font-size: 40px;

				&:hover {
					color: $extra-dark;
				}

			}
			
		}
	}
}