// directional arrows
$icon-arrow-up: '\2191';
$icon-arrow-right: '\2192';
$icon-arrow-down: '\2193';
$icon-arrow-left: '\2190';

// equilateral triangles
$icon-arrow-block-up: '\25b2';
$icon-arrow-block-right: '\25b6';
$icon-arrow-block-down: '\25bc';
$icon-arrow-block-left: '\25c0';

// thin next and previous arrows
$icon-arrow-thin-left: '\276e';
$icon-arrow-thin-right: '\276f';

// double arrows
$icon-double-arrow-left: '\21D0';
$icon-double-arrow-right: '\21D2';

// common ui elements
$icon-flag: '\2691';
$icon-cac-card: '\25AD';
$icon-calendar: '\2a78';
$icon-calendar-detail: '\23cd';
$icon-check: '\2713';
$icon-check-enclosed: '\2611';
$icon-close: '\274c';
$icon-configure: '\25d9';
$icon-crosshair: '\2a37';
$icon-email: '\2585';
$icon-home: '\2302';
$icon-info: '\2139';
$icon-list: '\21c5';
$icon-menu: '\20E4';
$icon-paper: '\2B14';
$icon-pencil: '\270f';
$icon-person: '\26f9';
$icon-boxed-person: '\229a';
$icon-people: '\2e2a';
$icon-plus: '\002B';
$icon-printer: '\2399';
$icon-reset: '\25CE';
$icon-question-mark: '\00BF';
$icon-trash: '\27C1';
$icon-warning: '\26a0';
$icon-x-enclosed: '\292c';
$icon-view-coverflow: '\2586';
$icon-view-list: '\2254';
$icon-view-thumbnails: '\2449';

// article types
$icon-story: '\270e';
$icon-photo: '\25d8';
$icon-video: $icon-arrow-block-right;

$icon-boxed-photo: '\2b1a';
$icon-boxed-story: '\2b1c';
$icon-boxed-video: '\2b1b';

// common functionality
$icon-add: $icon-plus;
$icon-apply-form: $icon-list;
$icon-apply-with-pencil: '\2710';
$icon-events: $icon-calendar;
$icon-faq: $icon-question-mark;
$icon-find-a-recruiter: $icon-crosshair;
$icon-forums: $icon-people;
$icon-links: '\2693';
$icon-login: $icon-pencil;
$icon-print: $icon-printer;
$icon-search: '\25cb';
$icon-share: '\293d';
$icon-soldier-story: $icon-boxed-person;
$icon-star: '\2605';
$icon-tools: $icon-paper;

// typographical elements
$nbsp: '\00a0';
$double-arrows-backward: '\00ab';
$double-arrows-forward: '\00bb';

$icon-fpo: '(FPO)';