// Compass

@import "compass/typography/lists/horizontal-list";

@mixin altClearfix() {
  &:before,
  &:after {
      content: '';
      display: table;
  }
  &:after {
      clear: both;
  }
}

@mixin transparent($color, $alpha) {
  $rgba: rgba($color, $alpha);
  $ie-hex-str: ie-hex-str($rgba);
  background-color: transparent;
  background-color: $rgba;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
  zoom: 1;
}

// Non-standard Typography
$large: ms(10);
$small: 12px;
$extra-small: 11px;

// Header Typography

$h1: ms(12); // 27px
$h2: ms(5);  // 17px
$h3: ms(4);  // 16px
$h4: ms(3);  // 15px
$h5: ms(2);  // 15px
$h6: ms(1);  // 13px

// Size headers according to the Modular Scale

%h1 { font-size: $h1; }
%h2 { font-size: $h2; }
%h3 { font-size: $h3; }
%h4 { font-size: $h4; }
%h5 { font-size: $h5; }
%h6 { font-size: $h6; }

%h1,%h2,%h3,%h4,%h5,%h6 {
    font-color: $headerFontColor;
    font-family: $headerFontFamily;
    font-weight: $headerFontWeight;
}
%bodyFontHeader {
  font-family: $bodyFontFamily;
  font-weight: bold;
}
%tiny {
  font-family: $headerFontFamily;
  font-size: 9px;
  font-weight: normal;
}

@mixin h1() { @extend %h1; } // @mixin h1 { font-size: $h1; }
@mixin h2() { @extend %h2; } // @mixin h2 { font-size: $h2; }
@mixin h3() { @extend %h3; } // @mixin h3 { font-size: $h3; }
@mixin h4() { @extend %h4; } // @mixin h4 { font-size: $h4; }
@mixin h5() { @extend %h5; } // @mixin h5 { font-size: $h5; }
@mixin h6() { @extend %h6; } // @mixin h6 { font-size: $h6; }

h1 { @include h1; }
h2 { @include h2; }
h3 { @include h3; }
h4 { @include h4; }
h5 { @include h5; }
h6 { @include h6; }

// CSS3 animation

@mixin animation($value) {
    -webkit-animation: $value;
       -moz-animation: $value;
        -ms-animation: $value;
         -o-animation: $value;
            animation: $value;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content; }
     @-moz-keyframes #{$name} { @content; }
      @-ms-keyframes #{$name} { @content; }
       @-o-keyframes #{$name} { @content; }
          @keyframes #{$name} { @content; }
}

// Icons

i,
%icon-font {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
    font-family: $iconFontFamily;
}
@mixin icon($val) {
    // Assumed to be psuedocontent
    @extend %icon-font;
    content: $val;
    cursor: default;
}

// Speed Up Layout

@mixin border-horizontal($border-left: $extra-dark, $border-right: $border-left, $width: 1px) {
  border-left: $width solid $border-left;
  border-right: $width solid $border-right;
}
@mixin border-vertical($border-top: $extra-dark, $border-bottom: $border-top, $width: 1px) {
  border-top: $width solid $border-top;
  border-bottom: $width solid $border-bottom;
}
@mixin margin-horizontal($margin-left: unit(), $margin-right: $margin-left) {
    margin-left: $margin-left;
    margin-right: $margin-right;
}
@mixin margin-vertical($margin-top: unit(), $margin-bottom: $margin-top) {
    margin-bottom: $margin-bottom;
    margin-top: $margin-top;
}
@mixin padding-horizontal($padding-left: unit(), $padding-right: $padding-left) {
    padding-left: $padding-left;
    padding-right: $padding-right;
}
@mixin padding-vertical($padding-top: unit(), $padding-bottom: $padding-top) {
    padding-bottom: $padding-bottom;
    padding-top: $padding-top;
}

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (max-width: 1600px) { @content; }
  }
  @if $point == tablet {
    @media (max-width: 768px) { @content; }
  }
  @else if $point == mobile {
    @media (max-width: 480px)  { @content; }
  }
}

//use only when necessary, adds ie7 support
//requires pseudo-content.js to be loaded before this stylesheet
@mixin before($content:'none', $icon:'0'){
    @if $content != 'none'{
        *before:$content;
    } 
    &:before, > .before{
        @if $content != 'none'{
            content:$content;
        } 
        @if $icon != '0'{
            @include icon($content);
        } 
        @content;
    }
    *behavior: expression($.pseudo(this)) !important;  
}
@mixin after($content:'none', $icon:'0'){
    @if $content != 'none'{
        *after:$content;
    }
    &:after, > .after{
        content:$content;
        @if $icon != '0'{
            @include icon($content);
        }
        @content;
    }
    *behavior: expression($.pseudo(this)) !important;
}