<div data-ng-class="addAssetForm.showErrors && 'show-errors'" data-ng-controller="AddAssetCtrl" class="add-asset">
	<form name="addAssetForm" novalidate>
		<div class="add-title">
			<label for="asset-title">Add Title</label>
			<input id="asset-title" data-ng-model="asset.title" type="text" placeholder="Filename" required>
			<a class="button choose" data-ng-click="getFile()">Choose File</a>
		</div>
		<span>or</span>
		
		<div class="add-url">
			<a class="button add" data-ng-click="getUrl()">Add URL</a>
			<select data-ng-model="asset.tags" data-ng-options="tag for tag in tags" placeholder="Tags" multiple ui-select2 ></select><!-- required? -->
			<a class="button submit" data-ng-click="submit()">Submit</a>	
		</div>
		
<!-- 		

		{{asset}} -->
	</form>
</div>