<section class="fade toolbox" data-show-toolbox="{{ shown }}" data-ui-modal data-ng-model="shown" data-ng-controller="ToolboxCtrl">
	<div class="content">
		
		<!-- TODO: userIsAdmin -->
		<div data-ng-include data-ui-if="userIsAdmin" src="'/partials/toolbox/add.html'"></div>
		<a class="close-modal" data-ng-click="close()"><i>&#x274c;</i></a>
		<h1>Toolbox</h1>

		<div data-ng-include src="'/partials/toolbox/search.html'"></div>	
	</div>	
</section>