<div data-ng-controller="SearchAssetsCtrl">
	<div class="search-assets">
		<input data-ng-model="query" placeholder="Search Toolbox" type="text">
		<div class="filter">
			<select data-ui-select2 data-ng-model="tagFilter" placeholder="Filter By">
				<option data-ng-repeat="tag in tags" value="{{tag}}">{{tag}}</option>
			</select>			
		</div>
		<a class="button" data-ng-click="toggleBookmarkFilter(bookmarkFilter)">View Bookmarks</a>
	</div>
	<table>
		<thead>
			<tr class="data-header">
				<th class="five" align="left">
					<span>Title</span>
				</th>
				<th align="center" width="1%">
					<span>Type</span>
				</th>
				<th align="center" width="30%">
					<span>Tags</span>
				</th>
				<th align="right" width="1%">
					<span>Bookmark</span>
				</th>
			</tr>			
		</thead>
		<tbody class="data-list">	
			<tr class="data-row {{class}}" data-ng-class="{'show-errors': assetForm.showErrors}" data-ng-class-odd="'zebra'"data-ng-form="assetForm" data-ng-repeat="asset in assets | orderBy: toolbox.orderProp | filter: {$:query,tags:tagFilter,bookmark:bookmarkFilter}">
				<td class="hover-visible-parent" align="left">
					<var data-ui-if="!asset.editable" data-ng-click="makeEditable(asset)">
						<i class="hover-visible">&#x270f;</i>
						{{asset.title}}
					</var>
					<div data-ui-if="asset.editable">
						<i data-ng-click="saveItem(asset, assetForm)">&#x274c;</i>
						<input type="text" data-ng-model="asset.title" data-ui-keydown="{'enter':'saveItem(asset, assetForm)'}" name="title" required>
					</div>	
				</td>
				<td align="center">
					<var>{{asset.type}}</var>
				</td>
				<td align="center">
					<var data-ui-if="!asset.editable">
						<a class="tag-csv {{class}}" data-ng-class="{'last': $index+1==asset.tags.length}" data-ng-repeat="tag in asset.tags" data-ng-click="updateTagFilter(tag)">{{tag}}</a>
					</var>
					<div data-ui-if="asset.editable">
						<select
							ui-select2
							data-ng-model="asset.tags"
							data-ng-options="tag for tag in tags"
							multiple>
							</select>
					</div>
				</td>
				<td align="center">
					<var class="bookmark {{asset.bookmark|onOff}}" data-ng-click="toggleBookmark(asset)" data-ui-if="!asset.editable">
						<i>&#x2605;</i>
					</var>
					<div data-ng-click="removeAsset(asset)" data-ui-if="asset.editable">
						<i>&#x27C1;</i>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

	<!-- {{tagFilter}} -->
</div>