<section class="confirmation">
	<div>
		<span><i class="enclosed-x">&#x292c;</i></span>
		<h1>Request not completed ({{data.error.status}})</h1>
		<p>Sorry, we ran into a problem making that last request.</p>
		<p>Please log in and try the request again.</p>
		<p>If the problem continues, please <a href="/#support" target="_blank">contact us</a> with the <a data-ng-click="showErrors = !showErrors">error details</a>.</a></p>
		<ul class="data-list" data-ng-show="showErrors">
			<li>Data: {{data.error.data}}</li>
			<li>Status: {{data.error.status}}</li>
			<li>Method: {{data.error.config.method}}</li>
			<li>URL: {{data.error.config.url}}</li>
		</ul>
	</div>
</section>