<section data-ui-modal data-ng-model="shown" class="fade" data-ng-controller="ModalCtrl">
	<div data-ng-switch="view" class="modal-{{view}}">
		<a class="close-modal" ng-click="shown=false"><i>&#x274c;</i></a>
		<div data-ng-include data-ng-switch-when="success" src="'/partials/modal/success.html'"></div>
		<div data-ng-include data-ng-switch-when="failure" src="'/partials/modal/failure.html'"></div>
		<div data-ng-include src="partial"></div>
	</div>
</section>