<section class="confirmation">
	<div>
		<span><i class="enclosed-x">&#x292c;</i></span>
		<h1>Unauthorized</h1>
		<p>{{data.error.data}}</p>
		<p>Please <a href="/#support" target="_blank">contact us</a> for help with logging in.</p>
	</div>
</section>