<div data-ng-class="addContactForm.showErrors && 'show-errors'" data-ng-controller="AddContactCtrl" class="candidate-contact">
	<form name="addContactForm" novalidate>

		<h1>{{candidate.firstName}} {{candidate.lastName}}</h1>
		<ul class="data-list">
			<li><span>Phone</span> <var>{{candidate.phone | tel}}</var></li>
			<li><span>Email</span> <var><a href="{{candidate.email}}">{{candidate.email}}</a></var></li>
		</ul>

		<label class="select-date">
			<input data-ng-model="contact.time" data-ui-jq="datepicker" data-ui-options="{changeMonth: true, changeYear: true, dateFormat: 'mm/dd/yy', maxDate: 0}" data-ng-show="false" type="text">
			<span>
				<a data-io-date-trigger><i class="calendar"></i></a>
				<var>{{contact.time}}</var>
			</span>
		</label>

		<span class="dropdown-select">
			<select
				data-ng-model="contact.disposition"
				data-ng-options="o.value as o.label for o in options.dispositions"
				required>
			</select>
		</span>

		<section class="public-private">
			<label data-ng-repeat="contactType in options.contactTypes">
				<input data-ng-model="contact.type" name="contactType" required type="radio" value="{{contactType.value}}">
				<span>{{contactType.label}}</span>
			</label>
		</section>

		<!--
		<div data-ng-show="contact.type == 'appointment'">
			<select
				data-ng-model="appointment.type"
				data-ng-options="o.value as o.label for o in options.appointments"
				data-ng-required="contact.type == 'appointment'">
			</select>
			<input data-ng-model="appointment.location" data-ng-required="contact.type == 'appointment'" placeholder="Location" type="text">
			<label>
				<input
					data-ng-model="appointment.time"
					data-ui-jq="datetimepicker"
					data-ui-options="{ changeMonth: true, changeYear: true, dateFormat: 'mm/dd/yy', timeFormat: 'HH:mm', stepMinute: 5 }"
					data-ng-show="false"
					type="text">
				<a data-io-date-trigger><i class="calendar"></i></a>
				<var>{{appointment.time}}</var>
			</label>
		</div>
		-->

		<label class="notes right">
			<span>Notes</span>
			<textarea data-ng-model="contact.notes" required></textarea>
		</label>

		<ul class="actions">
			<li><a class="button" data-ng-click="close()">Cancel</a></li>
			<li><a class="button" data-ng-click="submit()">Save</a></li>
		</ul>
	</form>

	{{contact}}<br>
	{{appointment}}
</div>