<form data-ng-controller="CandidateContactDetailsCtrl">
	<section class="candidate-details">
		<h1>{{candidate.firstName}} {{candidate.lastName}}</h1>
		<ul class="data-list">
			<li><span>Phone</span> <var>{{candidate.phone | tel}}</var></li>
			<li><span>Email</span> <a href="{{candidate.email}}">{{candidate.email}}</a></li>
		</ul>
		<ol class="data-dates">
			<!-- TODO Show all and scroll? Show most recent? -->
			<li ng-repeat="contact in contacts">
				<div>
					<span>{{contact.type | translate: 'contactTypes' }} - {{contact.notes}}</span><br>
					<var>{{contact.date | moment:'M/D/YYYY' }}</var>
				</div>
			</li>
		</ol>
	</section>
</form>